<link rel="stylesheet" href="/../stylesheets/landing/aboutmanipal.css">
<section class="aboutmanipal">
    <div class="top">
        <div class="logohandler">
            <img src="/../images/sb.png" alt="" srcset="">
            <img src="https://drive.google.com/uc?export=view&id=1DcZeev3zzXkLYulLYazhUANRcsJ4_ddx" alt="" srcset="">
        </div>
        <h1>Freshers Corner</h1>
        <small>Find all information you need as a fresher</small>
        <small>In collaboration with The MIT Post</small>
    </div>
    <div class="middle">
        <div class="content">
            <div class="left">
                <h1>Latest Article Title</h1>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illo deserunt aperiam eos nostrum ipsum, dicta ut dolorum sequi obcaecati quos perspiciatis soluta error, voluptate fuga. Assumenda voluptatum asperiores iste.</small>
            </div>
            <div class="right"></div>
        </div>
        <hr>
    </div>
    <div class="bottom">
        <h3>Latest Posts</h3>
        <div class="cardscontainer">
            <div class="card">
                <div class="image">
                    <img src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F191120053137-03-milky-way-images-australia.jpg" alt="">
                </div>
                <div class="contentcontainer">
                    <div class="content">
                        <div class="abstract">
                            <small>Tags, tag,anthertag, random tag, this also random</small>
                        </div>
                    </div>  
                    <div class="visit"></div>                  
                </div>
            </div>
            
        </div>
    </div>
</section>