<link rel="stylesheet" href="/../stylesheets/landing/dashboard.css">
<link rel="stylesheet" href="/../stylesheets/landing/messenger.css">
<script src="/../js/dashboard.js"></script>
<script src="/../js/animation.js"></script>
{{!-- {{>notifications}} --}}

<section class="dashboard">
    <div class="openbutton">
        <i class="fa fa-bars"></i>
    </div>
    <div class="left">
        <div class="closebtn">
            <i class="fa fa-times"></i>
        </div>
        <div class="dashnav">
            <img src="/../images/SVG/sblogo.svg" alt="" srcset="">
            <div class="divnaver home">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </div>
            {{#if notRegistered}}

            {{else}}
                <div class="divnaver activenav" id="userinfo">
                    <i class="fa fa-user" aria-hidden="true"></i> Profile
                </div>
                {{#if buds}}
                    <div class="divnaver" id="partnerinfo">
                        <i class="fa fa-users" aria-hidden="true"></i> {{#ifCond data.type 'Bud'}}Buddy{{else}}Bud{{/ifCond}} Information
                    </div>
                    <div class="divnaver" id="userchatbutton">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact {{#ifCond data.type 'Bud'}}Buddy{{else}}Bud{{/ifCond}} Through Portal
                    </div>
                {{else}}
                {{/if}}
            {{/if}}
            {{!-- <div class="divnaver">
                <i class="fa fa-map" aria-hidden="true"></i> About Manipal
            </div>
            <div class="divnaver">
                <i class="fa fa-line-chart" aria-hidden="true"></i></i> Other Programs
            </div> --}}
            <div id="logout" class="divnaver logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </div>
        </div>
        {{#if buds}}
        {{else}}
            <div class="buddatacard">
                <span>No bud has been assigned to you yet. You will recieve an email as soon as a bud is assigned to you</span>
            </div>
        {{/if}}
    </div>
    <div class="right">
        {{>notifications}}
        {{#if notRegistered}}
        <div class="title">
            <div class="logo">

            </div>
            <div class="info">
                <h1>Student Buddy Program Registration</h1>
                <p>You will be registered as a {{data.type}}. The duty of Buddies is to help the freshers get accustomed with the college.</p>
            </div>
        </div>
        <hr>
        {{>success-handler}}
        {{>error-handler}}
        <div id="form">
            <form action='/admin/register/project' class='form' id="completeregform" method="POST">
                <div class="formrow">
                    <div class="form-grouper">
                        <label>Name</label>
                        <input type="text" name="name" value="{{data.name}}" disabled/>
                    </div>
                    <div class="form-grouper">
                        <label>Email Address</label>
                        <input type="email" name="email" value="{{data.email}}" disabled/>
                    </div>
                </div>
                <div class="formrow">
                    <div class="form-grouper">
                        <label>Contact Number</label>
                        <input name="contact" id="contact" type="text"/>
                    </div>
                    <div class="form-grouper">
                        <label>Registration Number</label>
                        <input type="text" name="reg" value="{{data.reg}}" disabled />
                    </div>
                </div>
                <div class="formrow">
                    <div class="select-grouper form-grouper">
                        <label>Branch</label>
                        <select name="branch" id="branch">
                            <option value="0">Select Branch</option>
                        </select>
                    </div>
                </div>
                <div class="gender">
                    <div class="male card" data-val="Male">
                        <i class="fa fa-mars" aria-hidden="true"></i>
                        <span>Male</span>
                    </div>
                    <div class="female card" data-val="Female">
                        <i class="fa fa-venus" aria-hidden="true"></i>
                        <span>Female</span>
                    </div>
                </div>
                <input id="gender" name="gender" type="hidden"/>
                <p class="text-white">Please select atleast 5 interests to make it easier for the system to allot you a bud</p>
                <div class="form-group interests-div">
                <br>
                <div class="slider">
                    <ul class="a-container">                        
                            <!-- item01 -->
                            <li class="a-items">
                            <input type="radio" name="ac" id="a1" />
                            <label for="a1">Indoor Interests</label>
                            <div class="a-content" id="indoor">
                                
                            </div>
                            </li>
                            <li class="a-items">
                            <input type="radio" name="ac" id="a2" />
                            <label for="a2">Outdoor Interests</label>
                            <div class="a-content" id="outdoor">
                            </div>
                            </li>
                            <li class="a-items">
                            <input type="radio" name="ac" id="a3" />
                            <label for="a3">Learning Interests</label>
                            <div class="a-content" id="learning">
                            </div>
                            </li>
                    </ul>
                </div>
                </div>
                <div class="inputinterests">
                    <h6>Selected Interests</h6>
                    <div class="interestsbox">
                    </div>
                </div>
                <input type="hidden" id="interests_of_students" name="interests_of_students">
                <input type="hidden" id="type" name="type" value="{{data.type}}">
                <div class="errordiv">
                    <p id="errorbox">

                    </p>
                </div>
                <input type="submit" id="button" value="Complete Registration">
            </form>
        </div>
        {{else}}
        <div id="userprofile" class="userprofile details infopanel">

            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome {{data.name}}</h2>
                        <p>You have been registered as a {{data.type}}</p>
                        <div class="guidelines">Download Guidelines</div>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottomleft">
                    <h3>Profile Details</h3>
                    <hr>
                    <h5>{{data.name}}</h5>
                    <span>{{data.type}}</span>
                    <hr>
                        <div class="detailer">
                            Contact
                            <span>{{buddy.contactnumber}}</span>
                        </div>
                        <div class="detailer">
                            Email
                            <span>{{buddy.email}}</span>
                        </div>
                        <div class="detailer">
                            Registration Number
                            <span>{{buddy.reg}}</span>
                        </div>
                        <div class="detailer">
                            Branch
                            <span>{{buddy.branch}}</span>
                        </div>
                </div>
                <div class="bottomright">
                    <h3>Your Interests</h3>
                    <div class="interests">
                        {{#each data.buddyinterests}}
                            <div class="interest">{{this}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
        <div id="partnerprofile" class="partnerprofile details infopanel">
            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome {{data.name}}</h2>
                        <p>You have been registered as a {{data.type}}</p>
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottomleft">
                    {{#each buds}}
                    <div class="budcard" style="background: #111; border-radius: 10px; margin: 10px;">
                        <div class="title">
                            <h4>{{this.name}}</h4>
                            <div class="detailer">
                                Email
                                <span>{{this.email}}</span>
                            </div>
                            <div class="detailer">
                                Registration Number
                                <span>{{this.reg}}</span>
                            </div>
                            <div class="detailer" id="budbuttons">
                                <button class="contactreqbutton" onclick="showInterests({{this.id}})">View Interests</button>
                                <button class="contactreqbutton" onclick="checkPermission({{this.id}},{{../buddy.id}})">View Contact Number</button>
                                <button class="contactreqbutton" style="display: none;" id="requestbutton-{{this.id}}" onclick="raiseRequest({{this.id}},{{../buddy.id}})">Raise Request</button>
                            </div>
                            <div class="detailer" style="display: none;" id="budcontact-{{this.id}}">
                                Contact Number
                                <span>{{this.contactnumber}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{#each buds}}
                <div id="budinterests-{{this.id}}" style="display: none;" class="bottomright">
                    <input type="hidden" name="" id="hiddenInterests-{{this.id}}" value="{{this.interests}}">
                    <h3>Bud Interests</h3>
                    <div id="interests-{{this.id}}" class="interests">
                    </div>
                </div>
                {{/each}}
                    
            </div>
        </div>
        <div id="userchat" class="userchat details infopanel">
            {{>messenger}}
        </div>
    {{/if}}
    
</section>


<script>

    function showInterests(budid){
        $(`.interests`).empty();
        $(`.bottomright`).css({display: 'none'});
        $(`#budinterests-${budid}`).css({display: 'flex'});
        $.each(($(`#hiddenInterests-${budid}`).val().split(',')), (key,interest) => {
            $(`#interests-${budid}`).append(`<div class="interest">${interest}</div>`)
        })
    }

    function checkPermission(budid, buddyid){
        $.get(`/admin/getpermission?budid=${budid}&buddyid=${buddyid}`, (result) => {
            if(result.permission === 1){
                $(`#budcontact-${budid}`).css({display: 'flex'});
            }else if(result.permission === -1){
                $(`#budcontact-${budid}`).css({display: 'flex'}).html('<span>The bud has not made their number public, please request for the contact information</span>');
                $(`#requestbutton-${budid}`).css({display: 'block'});
            }else{
                $(`#budcontact-${budid}`).css({display: 'flex'}).html('<span>The bud has not made their number public, You have already raised a request, please wait for the bud to approve</span>');
            }
        })
    }

    function raiseRequest(budid, buddyid){
        $.post('/admin/requestpermission', {
            budid: budid,
            buddyid:buddyid,
        }).done(result => {
            console.log(result);
            $(`#requestbutton-${budid}`).css({display: 'none'});
            checkPermission(budid,buddyid);
        })
    }

    $('.card').click(function(ele){
        $(this).css({
            'background': '#001b2b',
            'box-shadow': 'none'
        })
        $(this).siblings('.card').css({
            'background': '#31A6EC',
            'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'
        })
        $('#gender').val($(this).data('val'))
        console.log($('#gender').val())
    })

    $.get('/api/interests', function(interests){
        interests.map(interest => {
            if(interest.Category == 'Indoor'){
                $('#indoor').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }
            else if(interest.Category == 'Outdoor'){
                $('#outdoor').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }else if(interest.Category == 'Learning'){
                $('#learning').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }
        })
    }).then(result => {
        let interests_array = [];
        var items = $('.target');
        var length_of_items = items.length;
        $.each(items, function(){
        });
        $('.target').click(function() { 
            var id = $(this).attr('id');
            $( this ).hide();
            interests_array.push(id);
            $('.interestsbox').append(`<div class="interestelement" id="${id}">${id}</div>`)
            $('#interests_of_students').val(interests_array);
            length_of_items--;
            $('.interestelement').click(function(){
                $(`[data-custom-value='${$(this).attr('id')}']`).show()
                for( var i = 0; i < interests_array.length; i++){ 
                    if ( interests_array[i] === $(this).attr('id')) { 
                        interests_array.splice(i, 1); 
                    }
                }
                $( this ).hide();
                $('#interests_of_students').val(interests_array);
                length_of_items++;
            })
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                panel.style.maxHeight = null;
                } else {
                height = panel.scrollHeight + 100;
                panel.style.maxHeight = height + "px";
                } 
            });
        }
    })

    $('#partnerinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#partnerprofile').css({display: 'flex'});
    })

    $('#userinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#userprofile').css({display: 'flex'});
    })

    $('#aboutmanipal').click(function(){
        window.location.href = '/aboutmanipal';
    })

    $('#userchatbutton').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('.messenger').css({display: 'none'})
        $('.selecth1').css({display: 'block'});
        $('.budselectorcard').css({display: 'flex'})
        $('#userchat').css({display: 'flex'});
    })

    $('#logout').click(function(){
        $.post('/admin/logout', function(){
            location.reload()
        })
    })

    var $dropdown = $('#branch')
    $.get('/api/branches', branches => {
        $.each(branches, function() {
            $dropdown.append($("<option />").val(this.branchName).text(this.branchName));
        });
    })

    $('#button').click(function(e){
        e.preventDefault();
        if($('#contact').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Contact Number cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#branch').val() === '0'){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a Branch');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#gender').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a gender');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else{
            $('#completeregform').submit();
        }
    })

    $('.closebtn').click(function(){
        
        $('.left').css({width: '0px'}).promise().done(function(){
            $('.openbutton').css({display: 'flex'})
        })
    })
    $('.openbutton').click(function(){
        $(this).css({display: 'none'})
        $('.left').css({width: '100%'})
    })

    $('.guidelines').click(function(){
        window.open('/../uploads/Guidelines.pdf', '_blank');
    })

    $('.home').click(function(){
        window.location.href = '/';
    })
</script>
