<link rel="stylesheet" href="/../stylesheets/landing/dashboard.css">
<script src="/../js/dashboard.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
{{!-- {{>notifications}} --}}

<section class="dashboard">
    <div class="openbutton">
        <i class="fa fa-bars"></i>
    </div>
    <div class="left">
        <div class="closebtn">
            <i class="fa fa-times"></i>
        </div>
        <div class="dashnav">
            <img src="/../images/SVG/sblogo.svg" alt="" srcset="">
            <div class="divnaver home">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </div>
            <div class="divnaver activenav" id="userinfo">
                <i class="fa fa-user" aria-hidden="true"></i> Profile
            </div>
            <div class="divnaver databutton" id="buddy">
                <i class="fa fa-user" aria-hidden="true"></i> Buddy Information
            </div>
            <div class="divnaver databutton" id="bud">
                <i class="fa fa-user" aria-hidden="true"></i> Bud Information
            </div>
            {{!-- <div class="divnaver">
                <i class="fa fa-map" aria-hidden="true"></i> About Manipal
            </div>
            <div class="divnaver">
                <i class="fa fa-line-chart" aria-hidden="true"></i></i> Other Programs
            </div> --}}
            <div id="logout" class="divnaver logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </div>
        </div>
    </div>
    <div class="right">
        <hr>
        {{!-- <div id="userprofile" class="userprofile details infopanel">

            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome Student Council</h2>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="councilbottomleft">
                    <div id="buddy" class="councilselectdiv">
                        <h3>Buddy Information</h3>
                    </div>
                    <div id="bud" class="councilselectdiv">
                        <h3>Bud Information</h3>
                    </div>
                </div>
            </div>

        </div> --}}

        <div id="userprofile" class="userprofile details infopanel">
            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome Student Council</h2>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="councilbottomleft" >
                    <div class="chartdiv" id="piechartbuddies"></div>

                    <div class="chartdiv" id="piechartbuds"></div>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                </div>
                <div class="bottomright">
                    
                </div>
            </div>
        </div>
        <div id="buddydataprofile" class="partnerprofile details infopanel dataprofile" style="display: none;">
            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome Student Council</h2>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="righttable">
                    <div class="table-responsive">
                        <table id="buddyparticipantlist" class="table stripe table-dark order-column" style="width:100%">
                            <thead>
                                <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Registration Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Email Verification</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Interests</th>
                                <th scope="col">BudCount</th>
                                </tr>
                            </thead>
                            <tbody id="buddyparticipantlistbody" >

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>   
        <div id="buddataprofile" class="partnerprofile details infopanel dataprofile" style="display: none;">
            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome Student Council</h2>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/profile.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="righttable">
                    <div class="table-responsive">
                        <table id="budparticipantlist" class="table stripe table-dark order-column" width="100%">
                            <thead>
                                <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Registration Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Email Verification</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Interests</th>
                                <th scope="col">Buddy Name</th>
                                <th scope="col">Buddy Email</th>
                                <th scope="col">Buddy Contact Number</th>
                                </tr>
                            </thead>
                            <tbody id="budparticipantlistbody" >

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>   
    </div> 
</section>


<script>

    $('#buddy').click(function(){
        $('#buddyparticipantlistbody').empty();
        $.get(`/admin/council/getAll?type=buddy`, (results) => {
            console.log(results)
            $.each(results.rows, (index, result) => {
                if(result.buddy){
                    $('#buddyparticipantlistbody').append(`
                        <tr>
                            <th scope="row">${result.name}</th>
                            <td>${result.reg}</td>
                            <td>${result.email}</td>
                            <td>${result.utype}</td>
                            <td>${result.emailVerification}</td>
                            <td>${result.buddy.contactnumber}</td>
                            <td>${result.buddy.gender}</td>
                            <td>${result.buddy.branch}</td>
                            <td>${result.buddy.interests}</td>
                            <td>${result.buddy.budCount}</td>
                        </tr>                    
                    `)
                }
            })   
           
            if ( $.fn.dataTable.isDataTable( '#buddyparticipantlist' ) ) {
                table = $('#buddyparticipantlist').DataTable();
            }
            else {
                    table = $('#buddyparticipantlist').DataTable({
                    serverSide: false,
                    dom: 'Bfrtip',
                    buttons: [
                        'excelHtml5',
                        'csvHtml5'
                    ],
                    responsive: true,
                    "bAutoWidth": false,
                    "pageLength": 15,
                }); 
            }
        })
    })

    $('#bud').click(function(){
        $('#budparticipantlistbody').empty();
        $.get(`/admin/council/getAll?type=bud`, (results) => {
            console.log(results)
            $.each(results.rows, (index, result) => {
                $('#budparticipantlistbody').append(`
                    <tr>
                        <th scope="row">${result.name}</th>
                        <td>${result.reg}</td>
                        <td>${result.email}</td>
                        <td>bud</td>
                        <td>${result.emailVerification}</td>
                        <td>${result.contactnumber}</td>
                        <td>${result.gender}</td>
                        <td>${result.branch}</td>
                        <td>${result.interests}</td>
                        <td>${result.buddy.name}</td>
                        <td>${result.buddy.email}</td>
                        <td>${result.buddy.contactnumber}</td>
                    </tr>                    
                `)
            })   

            if ( $.fn.dataTable.isDataTable( '#budparticipantlist' ) ) {
                table = $('#budparticipantlist').DataTable();
            }
            else {
                    table = $('#budparticipantlist').DataTable({
                        serverSide: false,
                        dom: 'Bfrtip',
                        buttons: [
                            'excelHtml5',
                            'csvHtml5'
                        ],
                        responsive: true,
                        "bAutoWidth": false,
                        "pageLength": 15,
                    });
            }
            
        })
    })






    

    $('#logout').click(function(){
        $.post('/admin/logout', function(){
            location.reload()
        })
    })

    $('.closebtn').click(function(){
        
        $('.left').css({width: '0px'}).promise().done(function(){
            $('.openbutton').css({display: 'flex'})
        })
    })
    $('.openbutton').click(function(){
        $(this).css({display: 'none'})
        $('.left').css({width: '100%'})
    })

    $('#buddy').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#buddydataprofile').css({display: 'flex'});
    })

    $('#userinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#userprofile').css({display: 'flex'});
    })

    $('#bud').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#buddataprofile').css({display: 'flex'});
    })

    $('.home').click(function(){
        window.location.href = '/';
    })

    


    

    $.get('/api/counts', (results) => {
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Gender', 'Number'],
            ['Male Buddies', results.buddymale],
            ['Female Buddies', results.buddyfemale],
            ]);
            var data2 = google.visualization.arrayToDataTable([
            ['Gender', 'Number'],
            ['Male Buds', results.budmale],
            ['Female Buds', results.budfemale],
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Buddy Data', 'width':350, 'height':300, 'backgroundColor':'transparent', tooltip:{textStyle:{color: '#000'}}, legend:{textStyle:{color: '#fff'}, 'position': 'left'}};
            var options2 = {'title':'Buds Data', 'width':350, 'height':300, 'backgroundColor':'transparent', tooltip:{textStyle:{color: '#000'}}, legend:{textStyle:{color: '#fff'}}}
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartbuddies'));
            var chart2 = new google.visualization.PieChart(document.getElementById('piechartbuds'));
            chart.draw(data, options);
            chart2.draw(data2, options2);
            }

    })
    
</script>
