<link rel="stylesheet" href="/../stylesheets/landing/dashboard.css">
<link rel="stylesheet" href="/../stylesheets/landing/aboutmanipal.css">
<link rel="stylesheet" href="/../stylesheets/landing/messenger.css">
<script src="/../js/dashboard.js"></script>
<script src="https://rawgit.com/lokesh/color-thief/master/dist/color-thief.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
{{!-- {{>notifications}} --}}
<section class="dashboard">
    <div class="openbutton">
        <i class="fa fa-bars"></i>
    </div>
    <div class="left">
        <div class="closebtn">
            <i class="fa fa-times"></i>
        </div>
        <div class="dashnav">
            <img src="/../images/SVG/sblogo.svg" alt="" srcset="">
            <div class="divnaver home">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </div>
            <div class="divnaver activenav" id="userinfo">
                <i class="fa fa-user" aria-hidden="true"></i> Profile
            </div>
            {{#if notRegistered}}

            {{else}}
            <div class="divnaver" id="freshersinfo">
                <i class="fa fa-user" aria-hidden="true"></i> Freshers Corner
            </div>
            <div class="divnaver" id="partnerinfo">
                <i class="fa fa-users" aria-hidden="true"></i> {{#ifCond data.type 'Bud'}}Buddy{{else}}Bud{{/ifCond}} Information
            </div>
            <div class="divnaver" id="userchatbutton" onclick="getMessages({{bud.id}},{{buddy.id}})">
                <i class="fa fa-envelope" aria-hidden="true"></i> Contact {{#ifCond data.type 'Bud'}}Buddy{{else}}Bud{{/ifCond}} Through Portal
            </div>
            <div class="divnaver eventsportal">
                <i class="fa fa-home" aria-hidden="true"></i> Student Clubs/ Events Portal
            </div>
            {{/if}}
            {{!-- <div class="divnaver">
                <i class="fa fa-map" aria-hidden="true"></i> About Manipal
            </div>
            <div class="divnaver">
                <i class="fa fa-line-chart" aria-hidden="true"></i></i> Other Programs
            </div> --}}
            <div id="logout" class="divnaver logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </div>
        </div>
    </div>
    <div class="right">
        {{>notifications}}
        {{#if notRegistered}}
            <div class="title">
                <div class="logo">

                </div>
                <div class="info">
                    <h1>Student Buddy Program Registration</h1>
                    <p>You will be registered as a {{data.type}}</p>
                </div>
            </div>
            <hr>
            <div id="form">
                <form action='/admin/register/project' id="completeregform" class='form' method="POST">
                    <div class="formrow">
                        <div class="form-grouper">
                            <label>Name</label>
                            <input type="text" name="name" id="name" value="{{data.name}}" disabled/>
                        </div>
                        <div class="form-grouper">
                            <label>Email Address</label>
                            <input type="email" name="email" id="email" value="{{data.email}}" disabled/>
                        </div>
                    </div>
                    <div class="formrow">
                        <div class="form-grouper">
                            <label>Contact Number</label>
                            <input id="contact" name="contact" id="contact" type="text"/>
                        </div>
                        <div class="form-grouper">
                            <label>Registration Number</label>
                            <input type="text" name="reg" id="reg" value="{{data.reg}}" disabled />
                        </div>
                    </div>
                    <div class="formrow">
                        <div class="select-grouper form-grouper">
                            <label>Branch</label>
                            <select id="branch" name="branch" id="branch" id="branch">
                                <option value="0">Select Branch</option>
                            </select>
                        </div>
                    </div>
                    <div class="gender">
                        <div class="male card" data-val="Male">
                            <i class="fa fa-mars" aria-hidden="true"></i>
                            <span>Male</span>
                        </div>
                        <div class="female card" data-val="Female">
                            <i class="fa fa-venus" aria-hidden="true"></i>
                            <span>Female</span>
                        </div>
                    </div>
                    <input id="gender" name="gender" id="gender" type="hidden"/>
                    <p class="text-white">Please select atleast 5 interests to make it easier for the system to allot you a bud</p>
                    <div class="form-group interests-div">
                    <br>
                    <div class="slider">
                        <ul class="a-container">                        
                                <!-- item01 -->
                                <li class="a-items">
                                <input type="radio" name="ac" id="a1" />
                                <label for="a1">Indoor Interests</label>
                                <div class="a-content" id="indoor">
                                    
                                </div>
                                </li>
                                <li class="a-items">
                                <input type="radio" name="ac" id="a2" />
                                <label for="a2">Outdoor Interests</label>
                                <div class="a-content" id="outdoor">
                                </div>
                                </li>
                                <li class="a-items">
                                <input type="radio" name="ac" id="a3" />
                                <label for="a3">Learning Interests</label>
                                <div class="a-content" id="learning">
                                </div>
                                </li>
                        </ul>
                    </div>
                    </div>
                    <div class="inputinterests">
                        <h6>Selected Interests</h6>
                        <div class="interestsbox">
                        </div>
                    </div>
                    <input type="hidden" id="interests_of_students" name="interests_of_students">
                    <input type="hidden" id="type" name="type" value="{{data.type}}">
                    <div class="errordiv">
                        <p id="errorbox">

                        </p>
                    </div>
                    <div class="successdiv">
                        <p id="successbox">

                        </p>
                    </div> 
                    <input type="submit" id="button" value="Complete Registration">
                </form>
            </div>
        {{else}}
            <div id="userprofile" class="userprofile details infopanel">

                <div class="top">
                    <div class="welcome">
                        <div class="text">
                            <h2>Welcome {{data.name}}</h2>
                            <p>You have been registered as a {{data.type}}</p>
                            <div class="guidelines">Download Guidelines</div>
                            {{>success-handler}}
                            {{>error-handler}}
                        </div>
                        <div class="image">
                            <img src="/../images/profile.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottomleft">
                        <h3>Profile Details</h3>
                        <hr>
                        <h5>{{data.name}}</h5>
                        <span>{{data.type}}</span>
                        <hr>
                        <div class="detailer">
                            Contact
                            <span>{{bud.contactnumber}}</span>
                        </div>
                        <div class="detailer">
                            Email
                            <span>{{bud.email}}</span>
                        </div>
                        <div class="detailer">
                            Registration Number
                            <span>{{bud.reg}}</span>
                        </div>
                        <div class="detailer">
                            Branch
                            <span>{{bud.branch}}</span>
                        </div>
                        
                    </div>
                    <div class="bottomright">
                        <h3>Your Interests</h3>
                        <div class="interests">
                            {{#each data.budinterests}}
                                <div class="interest">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
            <div id="partnerprofile" class="partnerprofile details infopanel">
                <div class="top">
                    <div class="welcome">
                        <div class="text">
                            <h2>Welcome {{data.name}}</h2>
                            <p>You have been registered as a {{data.type}}</p>
                        </div>
                        <div class="image">
                            <img src="/../images/profile.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottomleft">
                        <h3>Buddy Details</h3>
                        <hr>
                        <h5>{{buddy.name}}</h5>
                        <span>Buddy</span>
                        <hr>
                        <div class="detailer">
                            Contact
                            <span>{{buddy.contactnumber}}</span>
                        </div>
                        <div class="detailer">
                            Email
                            <span>{{buddy.email}}</span>
                        </div>
                        <div class="detailer">
                            Registration Number
                            <span>{{buddy.reg}}</span>
                        </div>
                        <div class="detailer">
                            Branch
                            <span>{{buddy.branch}}</span>
                        </div>
                    </div>
                    <div class="bottomright">
                        <h3>Buddy Interests</h3>
                        <div class="interests">
                            {{#each data.buddyinterests}}
                                <div class="interest">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="userchat" class="userchat details infopanel">
                {{>messenger}}
            </div>
        {{/if}}
        <div id="freshersprofile" class="userprofile details infopanel" style="display: none;">
            <div class="top">
                <div class="welcome">
                    <div class="text">
                        <h2>Welcome to the Freshers Corner, {{data.name}}</h2>
                        <p>Built in collaboration with <a href="https://themitpost.com/">The MIT Post</a></p>
                        {{>success-handler}}
                        {{>error-handler}}
                    </div>
                    <div class="image">
                        <img src="/../images/circularpost.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="bottom bottomfreshers">
                <div class="cornerpreview" style="display: none;">
                    
                </div>
                <div class="cornerslider glider-contain">
                    <div class="cardscontainer">
                    </div>    
                    <button aria-label="Previous" class="glider-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button aria-label="Next" class="glider-next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <div role="tablist" class="dots"></div>
                    <p style="text-align: center; color: #fff;">Click To Preview</p>
                </div>
            </div>

        </div>
    </div>

</section>

<script src="/../js/glider.min.js"></script>
<script>

    $('.card').click(function(ele){
        $(this).css({
            'background': '#001b2b',
            'box-shadow': 'none'
        })
        $(this).siblings('.card').css({
            'background': '#31A6EC',
            'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'
        })
        $('#gender').val($(this).data('val'))
        console.log($('#gender').val())
    })

    $.get('/api/interests', function(interests){
        interests.map(interest => {
            if(interest.Category == 'Indoor'){
                $('#indoor').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }
            else if(interest.Category == 'Outdoor'){
                $('#outdoor').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }else if(interest.Category == 'Learning'){
                $('#learning').append(`
                    <a style="font-size:15px;" id="${interest.Interests}" data-custom-value="${interest.Interests}" class="target btn btn-primary">${interest.Interests}</a>
                `)
            }
        })
    }).then(result => {
        let interests_array = [];
        var items = $('.target');
        var length_of_items = items.length;
        $('.target').click(function() { 
            var id = $(this).attr('id');
            $( this ).hide();
            interests_array.push(id);
            $('.interestsbox').append(`<div class="interestelement" id="${id}">${id}</div>`)
            $('#interests_of_students').val(interests_array);
            length_of_items--;
            $('.interestelement').click(function(){
                $(`[data-custom-value='${$(this).attr('id')}']`).show()
                for( var i = 0; i < interests_array.length; i++){ 
                    if ( interests_array[i] === $(this).attr('id')) { 
                        interests_array.splice(i, 1); 
                    }
                }
                $( this ).hide();
                $('#interests_of_students').val(interests_array);
                length_of_items++;
            })
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                panel.style.maxHeight = null;
                } else {
                height = panel.scrollHeight + 100;
                panel.style.maxHeight = height + "px";
                } 
            });
        }
    })


    $('#partnerinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#partnerprofile').css({display: 'flex'});
    })

    $('#userinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#userprofile').css({display: 'flex'});
    })

    


    $('#freshersinfo').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#freshersprofile').css({display: 'flex'});
        if($('.card').length){
            console.log($('.card').length)
        }else{
            $.get('/api/articles', (results) => {
                $('.cardscontainer').empty();
                $.each(results, function(){
                    $('.cardscontainer').append(`
                        <div class="card" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(${this.imageUrl}); background-size: cover; background-position: center; background-repeat: no-repeat;">
                            <div class="title">${this.articleName}</div>
                            <div class="caption">${this.tags}</div>
                            <input type="hidden" value="${this.articleUrl}" class="articleurl"/>
                            <input type="hidden" value="${this.shortDesc}" class="shortdesc"/>
                            <input type="hidden" value="${this.imageUrl}" class="imageurl"/>
                        </div>
                    `)
                })
                
                new Glider(document.querySelector('.cardscontainer'), {
                slidesToShow: 1,
                slidesToScroll: 1,
                draggable:true,
                dots: '.dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                responsive: [
                    {
                    // screens greater than >= 775px
                    breakpoint: 775,
                    settings: {
                        // Set to `auto` and provide item width to adjust to viewport
                        slidesToShow: 'auto',
                        slidesToScroll: 'auto',
                        itemWidth: 300,
                        itemHeight: 400,
                        duration: 0.25
                    }
                    }
                ]
                })
            })
        }
    })

    $(document).on("click", ".card", function(event) {
        $('.cornerpreview').css({display: 'flex'});
        $('.cornerpreview').empty();
        $('.cornerpreview').append(`
            <div class="preview" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(${$(this).children('.imageurl').val()}); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <h1>${$(this).children('.title').html()}</h1>
                <p>${$(this).children('.shortdesc').val()}</p>
                <a target="_blank" href="${$(this).children('.articleurl').val()}" class="visit">read Article</a>
            </div>
        `)
    });
    
    $('#userchatbutton').click(function(){
        $('.activenav').removeClass('activenav');
        $(this).addClass('activenav');
        $('.infopanel').css({display:'none'});
        $('#userchat').css({display: 'flex'});
    })

    $('#logout').click(function(){
        $.post('/admin/logout', function(){
            location.reload()
        })
    })

    var $dropdown = $('#branch')
    $.get('/api/branches', branches => {
        $.each(branches, function() {
            $dropdown.append($("<option />").val(this.branchName).text(this.branchName));
        });
    })

    $('#button').click(function(e){
        e.preventDefault();
        if($('#contact').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Contact Number cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#branch').val() === '0'){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a Branch');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#gender').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a gender');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else{
            $.post($('#completeregform').attr('action'), {
			name: $('#name').val(),
			email: $('#email').val(),
            contact: $('#contact').val(),
            branch: $('#branch').val(),
            gender: $('#gender').val(),
            interests_of_students: $('#interests_of_students').val(),
			reg: $('#reg').val(),
            type: $('#type').val(),
			}).done(function(result){
				if(result.success === true){
					$('.form-style').val('');
					$('.successdiv').css({display: 'flex'});
					$('#successbox').html(result.msg);
					setTimeout(function(){ $('.successdiv').css({display: 'none'}); location.reload() }, 5000);
				}else if(result.nobodyinbranch){
                    $('.errordiv').css({display: 'flex'});
					$('#errorbox').html(result.msg);
                    $('#button').val('Complete Registration without considering branch');
                    $('#completeregform').attr('action', '/admin/register/project/withoutbranch')
					setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
                }
                else{
					$('.errordiv').css({display: 'flex'});
					$('#errorbox').html(result.msg);
					setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
				}
			})
        }
    })

    $('#buttonwithoutbranch').click(function(e){
        e.preventDefault();
        if($('#contact').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Contact Number cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#branch').val() === '0'){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a Branch');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else if($('#gender').val() === ''){
            $('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Please Select a gender');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
        }else{
            $('#completeregform').submit();
        }
    })

    $('.closebtn').click(function(){
        $('.left').css({width: '0px'}).promise().done(function(){
            $('.openbutton').css({display: 'flex'})
        })
    })
    $('.openbutton').click(function(){
        $(this).css({display: 'none'})
        $('.left').css({width: '100%'})
    })



    $('.home').click(function(){
        window.location.href = '/';
    })

    $('.guidelines').click(function(){
        window.open('/../uploads/Guidelines.pdf', '_blank');
    })

    $('.eventsportal').click(function(){
        window.open('https://clubs.mitportals.in/#ourclubs', '_blank');
    })

    


</script>