<link rel="stylesheet" href="/../stylesheets/main_login.css">
<link rel="stylesheet" href="/../stylesheets/main_login.css">
<div class="errordiv">
	<p id="errorbox">

	</p>
</div>
<div class="successdiv">
	<p id="successbox">

	</p>
</div>
<section class="login">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											{{>success-handler}}
											<h4 class="mb-4 pb-3">Forgot Password</h4>
											<div class="form-group">
												<input type="email" name="clubemail" class="form-style" placeholder="Your Email" id="clubemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<a id="submit" href="#" class="btn mt-4">Forgot Password</a>
                            				<p class="mb-0 mt-4 text-center" id="fpwd"><a href="/admin" class="link">Login</a></p>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</section>

<script>
	$("#submit").click(function(){
		$.post('/admin/fpwd', {
			clubemail: $('#clubemail').val(),
		}).done(result => {
			if(result.success === true){
				$('.successdiv').css({display: 'flex'});
				$('#successbox').html(result.msg);
				setTimeout(function(){ $('.successdiv').css({display: 'none'}); }, 5000);
			}else{
				$('.errordiv').css({display: 'flex'});
				$('#errorbox').html(result.msg);
				setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
			}
		})
		$('#fpwdform').submit();
	})
</script>
