<link rel="stylesheet" href="/../stylesheets/main_login.css">
<section class="login">
	{{!-- <div class="login-box">
		<h2>Login</h2>
		
		<form id="loginform" action="/admin/login" method="POST">
			<div class="user-box">
			<input type="email" name="clubemail" required="">
			<label>Email Address</label>
			</div>
			<div class="user-box">
			<input type="password" name="pass" required="">
			<label>Password</label>
			</div>
			<div class="user-box">
				<span id="fpwd" class="text-white">Forgot Password</span>
			</div>
			<a type="submit" id="submit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Submit
			</a>
		</form>
	</div>


	<a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcy.png" alt="">
	</a> --}}
	<div class="section">
		{{>success-handler}}
		{{>error-handler}}
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						{{!-- <h6 class="mb-0 pb-3"><span id="logintext">Log In </span><span id="registertext">Register</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" unchecked/> --}}
			          	<label for="reg-log"></label>
						  Please note, Registrations are closed. You can still log into your account to contact your assigned buddy
						<div class="alertwrapper">		
							<div class="errordiv">
								<p id="errorbox">
									
								</p>
							</div>
							<div class="successdiv">
								<p id="successbox">

								</p>
							</div>  	
						</div>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="form-group">
												<input type="email" name="clubemail" class="form-style" placeholder="Your Email" id="clubemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="pass" class="form-style" placeholder="Your Password" id="pass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a id="submitlogin" href="#" class="btn mt-4">Login</a>
											<p class="mb-0 mt-4 text-center" id="resendverification"><a href="#0" class="link">Resend Email Verification</a></p>
                            				<p class="mb-0 mt-4 text-center" id="fpwd"><a href="#0" class="link">Forgot your password?</a></p>
				      					</div>
			      					</div>
			      				</div>
								{{!-- <div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" name="name" class="form-style" placeholder="Your Full Name" id="regname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" name="email" class="form-style" placeholder="Your Email" id="regemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="text" name="email" class="form-style" placeholder="MIT Application Number/Registration Number" id="reg" autocomplete="off">
												<i class="input-icon uil uil-credit-card"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="regpass" class="form-style" placeholder="Your Password" id="regpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="cnfpass" class="form-style" placeholder="Confirm Password" id="cnfpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a id="regbutton" href="#" class="btn mt-4">Register</a>
				      					</div>
			      					</div>
			      				</div> --}}
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
		
	</div>
	
</section>

<script>
	$("#submitlogin").click(function(e){
		e.preventDefault();
		$.post('/admin/login', {
			clubemail: $('#clubemail').val(),
			pass: $('#pass').val(),
		}).done(function(result){
			if(result.success === true){
				location.reload();
			}else{
				$('.errordiv').css({display: 'flex'});
				$('#errorbox').html(result.msg);
				if(result.unverified === true){
					$('#resendverification').css({'display': 'block'});
				}
				setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
			}
		})
	})
	$('#resendverification').click(function(e){
		e.preventDefault();
		$.post('/admin/resendverification', {
			clubemail: $('#clubemail').val()
		}).done(result => {
			console.log(result)
			if(result.success === true){
				$('.form-style').val('');
				$('.successdiv').css({display: 'flex'});
				$('#successbox').html(result.msg);
				setTimeout(function(){ $('.successdiv').css({display: 'none'}); }, 10000);
			}else{
				$('.errordiv').css({display: 'flex'});
				$('#errorbox').html(result.msg);
				setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
			}
		})

	})

	$("#regbutton").click(function(e){
		e.preventDefault();
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,6})+$/;
		if($('#regname').val() === ''){
			$('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Name Cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
		}
		else if($('#regemail').val() === '' || !regex.test($('#regemail').val())){
			$('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Email is invalid, please rectify email');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
		}
		else if($('#reg').val() === ''){
			$('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Registration Number Cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
		}else if($('#regpass').val() === ''){
			$('.errordiv').css({display: 'flex'});
			$('#errorbox').html('Password Cannot be left blank');
			setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
		}else{
			$.post('/admin/register', {
			name: $('#regname').val(),
			email: $('#regemail').val(),
			reg: $('#reg').val(),
			password: $('#regpass').val(),
			cnfpassword: $('#cnfpass').val(),
			}).done(function(result){
				if(result.success === true){
					$('.form-style').val('');
					$('.successdiv').css({display: 'flex'});
					$('#successbox').html(result.msg);
					setTimeout(function(){ $('.successdiv').css({display: 'none'}); }, 10000);
				}else{
					$('.errordiv').css({display: 'flex'});
					$('#errorbox').html(result.msg);
					setTimeout(function(){ $('.errordiv').css({display: 'none'}); }, 5000);
				}
			})
		}
	})
	$("#fpwd").click(function(){
		window.location.href = "/admin/fpwd"
	})
	$('#logintext').click(function(){
		$('#reg-log').prop('checked', false);
	})
	$('#registertext').click(function(){
		$('#reg-log').prop('checked', true);
	})
</script>