
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/../stylesheets/register.css">
<script src="/../js/register.js"></script>
<section class="registermain">
    {{#if errors }}
        <div class="alert alert-danger">
            <p>Certain Values could have changed, please reselect options</p>
            <ul>
                {{#each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    <h1>Register (Further details will be collected on email verification and login)</h1>
    <div id="container">
        <form id="registerform" action="/admin/register" method="POST">
            <span class="input">
                <input type="text" name="email" class="input__field" id="input-1" value="{{formData.Email}}" />
                <label for="input-1" class="input__label">
                <span class="input__label-content">Email Address</span>
            </label>
            </span>

            <span class="input">
                <input type="email" name="reg" class="input__field" id="input-2" value="{{formData.Name}}"/>
                <label for="input-2" class="input__label">
                <span class="input__label-content">Registration Number</span>
                </label>
            </span>

            <span class="input">
                <input type="email" name="name" class="input__field" id="input-4" value="{{formData.Name}}"/>
                <label for="input-4" class="input__label">
                <span class="input__label-content">Name</span>
                </label>
            </span>

            <span class="input">
                <input type="password" name="password" class="input__field" id="input-3"/>
                <label for="input-3" class="input__label">
                <span class="input__label-content">Password</span>
                </label>
            </span>

			<span class="input">
                <input type="password" name="cnfpassword" class="input__field" id="input-4"/>
                <label for="input-4" class="input__label">
                <span class="input__label-content">Confirm Password</span>
                </label>
            </span>

           {{!--  <span class="input">
                <input type="text" name="imgUrl" class="input__field" id="input-4" value="{{formData.ImageUrl}}"/>
                <label for="input-4" class="input__label">
                <span class="input__label-content">Club Image URL</span>
                </label>
            </span>

            <span class="input">
                <select id="input-9" class="select__field invalid" name="ctype">
                    <option value="0" selected>Type of Club</option>
                    <option value="Cultural">Cultural</option>
                    <option value="Technical">Technical</option>
					<option value="Cultural">Student Project</option>
                    <option value="Technical">Sport</option>
                </select>
                <span>*Please select this field</span>
            </span>

            <span class="input">
                <input type="text" name="contactname" class="input__field" id="input-5" value="{{formData.Contact}}" />
                <label for="input-5" class="input__label">
                <span class="input__label-content">Club Contact Name</span>
                </label>
            </span>

            <span class="input">
                <input type="text" name="contactnum" class="input__field" id="input-6" value="{{formData.Number}}"/>
                <label for="input-6" class="input__label">
                <span class="input__label-content">Club Contact Number</span>
                </label>
            </span>

			<span class="input">
                <input type="text" name="tags" class="input__field" id="input-8" value="{{formData.Tags}}"/>
                <label for="input-8" class="input__label">
                <span class="input__label-content">3 Club Tags (ie: Dance, Drama, Art)</span>
                </label>
            </span>

			<span class="input">
                <input type="text" name="fb" class="input__field" id="input-10" value="{{formData.fb}}"/>
                <label for="input-10" class="input__label">
                <span class="input__label-content">Complete URL to facebook page</span>
                </label>
            </span>

			<span class="input">
                <input type="text" name="web" class="input__field" id="input-7" value="{{formData.Website}}"/>
                <label for="input-7" class="input__label">
                <span class="input__label-content">Complete URL to website (if any)</span>
                </label>
            </span> --}}

            

            {{!-- <span class="input message">
                <textarea class="input__field" id="input-5"></textarea>
                <label for="input-5" class="input__label">
                <span class="input__label-content">Message</span>
                </label>
            </span> --}}
            <button class="g-recaptcha" data-sitekey="6LepCegUAAAAAHpylqORuB3ryeuDu0KHouwKUjTf" data-callback='onSubmit' id="send-button">Register</button>

        </form>
    </div>

</section>

<script>
    function onSubmit(token) {
         document.getElementById("registerform").submit();
    }
</script>

