<link rel="stylesheet" href="/../stylesheets/landing/announcements.css">

<div class="announcements">
    <div class="showtext">
        <div class="toggle">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
        </div>
        <div class="anntext">
            <span>Announcements</span>
        </div>
    </div>
    <div class="announcementtext hideann">
    </div>
</div>
<script>
    $('.showtext').click(function(){
        $(".announcementtext").toggleClass("hideann");
        $('.announcements').toggleClass('makerow');
    })
    $.get('/api/announcements', (datas) => {
        $.each(datas, function(index, data){
            $('.announcementtext').append(`
                <a href="/clubs/events/${data.eventid}" style="text-decoration: none">
                    <div class="announcementcard">
                        <div class="text">
                            <p class="anntextp">${data.announcementtext}</p>
                        </div>
                        <div class="time">
                            <p class="anntimep">${data.createdAt.slice(0,10)}</p>
                        </div>
                    </div>
                </a>
            `)
        })
    })
</script>