<script src="../js/autocomplete-search.js"></script>
<div class="container clubs-search-container">
    {{!-- <a href="/" class="btn btn-primary mb-3 btn-back-clubs">Go Back</a> --}}
    <form action="/clubs/search-clubs" autocomplete="off">
            <div class="form-group search-elements">
                <input id="search" class="form-control search-name" type="text" placeholder="Search By Name, or Tags (Example: Literature)..." name="searchq">
                <button class="btn btn-primary search-button" type="submit"><i class="fa fa-search"></i></button>
                </input>
            </div>
    </form>
    <div id="matchList" class="autocomplete-div card">
    </div>
</div>