{{#if items}}
    {{#each items}}
        <div class="timeline-item" data-text="Tags: {{this.Tags}}">
            <div class="timeline__content"><img class="timeline__img lazy-image" data-src="{{this.ImageUrl}}" />
                <h2 class="timeline__content-title">{{this.Name}}</h2>
                <p class="timeline__content-desc">Contact Name: {{this.Contact}}</p>
                <p class="timeline__content-desc">Contact Number: +91 {{this.Number}}</p>
                <p class="timeline__content-desc">Email Address: {{this.EmailAddress}}</p>
                <p class="timeline__content-desc">{{#if this.fb}}<a href="{{this.fb}}" target="_blank"><i class="fa fa-facebook fa-club"></i></a>{{/if}}{{#if this.website}}<a href="{{this.website}}" target="_blank"><i class="fa fa-globe fa-club" aria-hidden="true"></i></a>{{/if}}{{#if this.insta}}<a href="{{this.insta}}" target="_blank"><i class="fa fa-instagram fa-club" aria-hidden="true"></i></a>{{/if}}{{#if this.youtube}}<a href="{{this.youtube}}" target="_blank"><i class="fa fa-youtube fa-club" aria-hidden="true"></i></a>{{/if}}{{#if this.twitter}}<a href="{{this.twitter}}" target="_blank"><i class="fa fa-twitter fa-club" aria-hidden="true"></i></a>{{/if}}</p>
                <p class="timeline__content-desc mobtags">Tags: {{this.Tags}}</p>
                <br>
                <a href="/clubs/{{this.id}}"><button class="btn btn-primary btn-current">More Info</button></a>
                <a href="/clubs/events/sortq?sortn={{this.Name}}"><button class="btn btn-primary btn-current">Events by Club</button></a>
            </div>
        </div>
    {{/each}}
{{else}}
    <div class="alert container alert-info">
        <h4 class="text-center">No Clubs found in this domain, please select one of the other domains</h4>
    </div>
{{/if}}