<link rel="stylesheet" href="/../stylesheets/pagination.css">

{{#if pages}}
    <div class="container pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                    {{#times pages}}
                        <li class="page-item"><a class="{{#ifCond @root.currentPage this}}active{{/ifCond}}" href="?&p={{this}}">{{this}}</a></li>
                    {{/times}}
            </ul>
        </nav>
    </div>
{{/if}}