{{#if error}}
<div class="alert-container">
    <div class="alert alert-danger alert-box alert-dismissible fade show text-center">
        {{#each error}}
            <p>{{#if this.msg}}{{this.msg}}{{else}}{{this}}{{/if}}</p>
        {{/each}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{/if}}