<link rel="stylesheet" href="/../stylesheets/footer.css">
<section id="footer" class="footer">
    <div class="top">
        <img src="/../images/SVG/MITlogo.svg" alt="" srcset="">
        <img class="sclogo" src="/../images/SC-Logo.png" alt="" srcset="">
    </div>
    <div class="bottom">
        <div class="copyright">
            <p>Reach us at mitsc20@gmail.com | studentcouncil.mit@manipal.edu</p>
            <br>
            <br>
            <br>
            <br>
            <p ><small class="text-center">©2020 | Manipal Institute of Technology</small> </p> 
        </div>
    </div>
</section>