<link rel="stylesheet" href="/../stylesheets/header.css">
<script src="/../js/header.js"></script>
<div class="wrapper" {{#if payment}}style="display:none"{{/if}}>
    <header>
        <nav class="{{#if notMain }}scroller{{else}}main{{/if}} normal">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="uldata">
                <ul class="nonadmin">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Account</a></li>
                    <li><a href="#howtoreg">How to Register</a></li>
                    <li><a href="#footer">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>


<script>
    function Logout(){
        $("#logout").submit();
    }
</script>