{{#if buds}}
<h1 class="selecth1">Please Select Bud to Communicate With</h1>
<h4>Please note, all conversations are stored in the database</h4>
    {{#each buds}}
        <div class="budselectorcard">
            <h6>Name : {{this.name}}</h6>
            <hr>
            <p>Registration Number : {{this.reg}}</p>
        </div>
        <div class="messenger">
            <div class="messengerwindow window-{{this.id}}">
                
            </div>
            <div class="messagebox">
                <input class="messageboxinput" type="text" name="chatmessage" id="chatmessage-{{this.id}}" style="width: 100%; max-height: 0px; padding: 20px; overflow-y:hidden;"/>
                <input type="hidden" id="messagebudid" name="budid" value="{{this.id}}">
                <input type="hidden" id="messagebuddyid" name="buddyid" value="{{../buddy.id}}">
                <input type="hidden" id="userid" name="userid" value="{{../buddy.userId}}">
                <div id="sendmessage" onclick="sendMessage({{this.id}}, {{../buddy.id}})"><i class="fa fa-paper-plane"></i></div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h4>Please note, all conversations are stored in the database</h4>
    <div class="messengerbud">
        <div class="messengerwindow window-{{bud.id}}">
            
        </div>
        <div class="messagebox">
            <input class="messageboxinput" type="text" name="chatmessage" id="chatmessage-{{bud.id}}" style="width: 100%; max-height: 0px; padding: 20px; overflow-y:hidden;"/>
            <input type="hidden" id="messagebudid" name="budid" value="{{bud.id}}">
            <input type="hidden" id="messagebuddyid" name="buddyid" value="{{buddy.id}}">
            <input type="hidden" id="userid" name="userid" value="{{bud.userId}}">
            <div id="sendmessage" onclick="sendMessage({{bud.id}}, {{buddy.id}})"><i class="fa fa-paper-plane"></i></div>
        </div>
    </div>
{{/if}}


<script>
    

    function sendMessage(budid, buddyid){
        if($(`#chatmessage-${budid}`).val()){
            $.post('/admin/sendmessage', {
                budid: budid,
                buddyid: buddyid,
                message: $(`#chatmessage-${budid}`).val(),
            }).done(result => {
                $(`#chatmessage-${budid}`).val('')
                getMessages(budid, buddyid);
            })
        }
    }

    var messengertext = document.getElementById(`chatmessage-${$('#messagebudid').val()}`);
    messengertext.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
            sendMessage($('#messagebudid').val(), $('#messagebuddyid').val());
        }
    });

    $('.budselectorcard').click(function(){
        $('.selecth1').css({display: 'none'});
        var budid = $(this).next('.messenger').find('#messagebudid').val();
        var buddyid = $(this).next('.messenger').find('#messagebuddyid').val();
        getMessages(budid, buddyid);
        $(this).next('.messenger').css({display: 'flex'})
        $('.budselectorcard').css({display: 'none'})
    })


    function getMessages(budid,buddyid){
        $(`.window-${budid}`).val('');
        $('.messengerwindow').empty();
        $.get(`/admin/messages/all?budid=${budid}&buddyid=${buddyid}`, (messages) => {
            $.each(messages.message, (index,message) => {
                if($('#userid').val() == message.senderUserId){
                    $(`.window-${budid}`).append(`
                        <div class="message">
                            <div class="name">${message.senderName}</div>
                            <hr>
                            ${message.message}
                            <hr>
                            <div class="date">
                                <span>${new Date(message.createdAt).toDateString()} | ${new Date(message.createdAt).toLocaleTimeString()}</span>
                            </div>
                        </div>
                    `)
                }else{
                    $(`.window-${budid}`).append(`
                        <div class="recieved">
                            <div class="name">${message.senderName}</div>
                            <hr>
                            ${message.message}
                            <hr>
                            <div class="date">
                                <span>${new Date(message.createdAt).toDateString()} | ${new Date(message.createdAt).toLocaleTimeString()}</span>
                            </div>
                        </div>
                    `)
                }
            })
        })
    }
</script>