<link rel="stylesheet" href="/../stylesheets/landing/announcements.css">

<div class="announcements">
    <div class="showtext">
        <div class="toggle">
            <div class="counter"><small></small></div>
            <i class="fa fa-bell" aria-hidden="true"></i>
        </div>
    </div>
    <div class="announcementtext hideann">
    </div>
</div>
<script>
    $('.showtext').click(toggleBox);

    getNotification();

    function toggleBox(){
        $(".announcementtext").toggleClass("hideann");
        $('.announcements').toggleClass('makerow');
    }

    function getNotification(){
        $('.announcementtext').empty()
        $.get('/admin/notifications', (datas) => {
            if(datas.rows.length > 0){
                $('.announcementtext').append(`<small onclick="markAsRead()" class="markread">clear notifications</small>`);
            }
            $('.toggle .counter small').html(datas.count);
            $.each(datas.rows, function(index, data){
                $('.announcementtext').append(`
                    <a style="text-decoration: none">
                        <div class="announcementcard">
                            <div class="text">
                                <p class="anntextp">${data.notificationtext}</p>
                            </div>
                            <div class="time">
                                <p class="anntimep">${data.createdAt.slice(0,10)}</p>
                            </div>
                        </div>
                    </a>
                `)
            })
        })
    }

    function markAsRead(){
        $.post(`/admin/notifications/markasread`).done(result => {
            toggleBox();
            getNotification();
        })
    }
</script>