{{#if success}}
<div class="alert-container">
    <div class="alert alert-success alert-box alert-dismissible fade show text-center">
        <p>{{success}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{/if}}