<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/../images/SVG/newico.png">  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{#if desc}} {{desc}} {{else}}The Student Buddy Programme is an initiative of the Student Council which aims at familiarising the freshers with the college and to help them as they start a new journey{{/if}}">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Manipal Institute of Technology, Manipal, Instute, of, Technology, Student Buddy, Events, MIT Manipal, MIT Manipal Buddy, Peer Learning, Mentorship, Buddy Programme Manipal">
        <meta property="og:site_name" content="Student Buddy Programme, Manipal Institute of Technology">
        <meta property="og:title" content="{{#if title}} {{title}} {{else}}Student Buddy Programme, Manipal Institute of Technology{{/if}}" />
        <meta property="og:description" content="{{#if desc}} {{desc}} {{else}}The Student Buddy Programme is an initiative of the Student Council which aims at familiarising the freshers with the college and to help them as they start a new journey{{/if}}" />
        <meta property="og:image" itemprop="image" content="https://studentbuddy.mitportals.in/images/sharing.png">
        <meta property="og:type" content="website" />
        <title>
            {{#if title}}
                {{title}}
            {{else}}
                Student Buddy Programme
            {{/if}}
        </title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153555359-1">
        </script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153555359-1');
        </script>
        <link rel="stylesheet" href="/../stylesheets/layouts/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <link rel="stylesheet" href="/../stylesheets/glider.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
   </head>
   <body>
       <div id="loader" class="loader">
           <img src="/../images/SVG/loader.svg" alt="">
       </div>
       {{!-- {{> header }} --}}
        {{{ body }}}
        {{>footer}}
        <script>
            document.onreadystatechange = function() { 
            if (document.readyState !== "complete") { 
                document.querySelector( 
                  "body").style.visibility = "hidden"; 
                document.querySelector( 
                  "#loader").style.visibility = "visible"; 
            } else { 
                document.querySelector( 
                  "#loader").style.display = "none"; 
                document.querySelector( 
                  "body").style.visibility = "visible"; 
            } 
        }; 
        </script>
        
   </body>
</html>