.bottomfreshers {
  flex-direction: column !important; }

.cornerpreview {
  width: 100%; }
  .cornerpreview .preview {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    padding: 20px;
    text-align: center; }
    .cornerpreview .preview h1 {
      font-size: 2.5em; }
    .cornerpreview .preview a {
      border: solid #fff thin;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff; }
      .cornerpreview .preview a:hover {
        text-decoration: none;
        background: rgba(139, 139, 139, 0.5); }

.cornerslider .cardscontainer {
  height: max-content;
  padding: 10px; }
  .cornerslider .cardscontainer .card {
    margin-right: 20px;
    padding: 30px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; }
    .cornerslider .cardscontainer .card:hover {
      cursor: pointer; }
    .cornerslider .cardscontainer .card .title {
      height: 100px;
      color: #fff;
      font-size: 1.2em;
      font-weight: bold; }
    .cornerslider .cardscontainer .card .caption {
      height: 100px;
      color: #fff;
      font-size: 0.8em; }

@media only screen and (max-width: 770px) {
  .cornerpreview .preview h1 {
    font-size: 1.1em; }
  .cornerpreview .preview p {
    font-size: 0.7em; } }
