@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");
.dashboard {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: #171819; }
  .dashboard .left {
    width: 25%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    background: #212223;
    align-self: stretch; }
    .dashboard .left .buddatacard {
      width: 100%;
      height: max-content;
      padding: 7%;
      text-align: center;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0061B2;
      border-radius: 10px; }
    .dashboard .left .dashnav {
      width: 100%;
      min-height: 60vh;
      height: 100%;
      background: transparent;
      align-self: flex-end;
      display: flex;
      flex-direction: column; }
      .dashboard .left .dashnav .activenav {
        background: #0061B2;
        border-radius: 5px; }
      .dashboard .left .dashnav .divnaver {
        width: 100%;
        padding: 10px;
        height: max-content;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: larger;
        margin: 5px; }
        .dashboard .left .dashnav .divnaver:hover {
          border-radius: 5px;
          background: #0061B2;
          cursor: pointer; }
        .dashboard .left .dashnav .divnaver i {
          margin-right: 15px; }
      .dashboard .left .dashnav .logout {
        flex-grow: 1 !important;
        border-radius: 10px; }
  .dashboard .right {
    width: 75%;
    min-height: inherit;
    height: 100%;
    background: #171819;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .dashboard .right .details {
      min-height: 90vh;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .dashboard .right .details .top {
        width: 100%;
        height: 30vh; }
        .dashboard .right .details .top .welcome {
          height: 30vh;
          border-radius: 10px;
          background: #212223;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          color: #fff; }
          .dashboard .right .details .top .welcome .text {
            margin-left: 10%; }
          .dashboard .right .details .top .welcome .image {
            height: 100%;
            width: auto;
            margin-right: 10%; }
            .dashboard .right .details .top .welcome .image img {
              height: 100%;
              width: auto; }
      .dashboard .right .details .bottom {
        flex-grow: 1;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .dashboard .right .details .bottom .councilbottomleft {
          width: 60%;
          min-height: 50vh;
          height: 100%;
          border-radius: 10px;
          background: #212223;
          padding: 20px;
          text-align: center;
          color: #fff;
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center; }
          .dashboard .right .details .bottom .councilbottomleft .councilselectdiv {
            background-color: #104344be;
            height: 200px;
            width: 45%;
            margin: 5px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center; }
            .dashboard .right .details .bottom .councilbottomleft .councilselectdiv:hover {
              background-color: #06999Fbe;
              cursor: pointer; }
        .dashboard .right .details .bottom .bottomleft {
          width: 60%;
          min-height: 50vh;
          height: 100%;
          border-radius: 10px;
          background: #212223;
          padding: 20px;
          text-align: center;
          color: #fff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
          .dashboard .right .details .bottom .bottomleft .councilselectdiv {
            background-color: #104344be;
            height: 200px;
            width: 45%;
            margin: 5px; }
          .dashboard .right .details .bottom .bottomleft .detailer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            margin: 5px; }
          .dashboard .right .details .bottom .bottomleft span {
            color: #65676F;
            align-self: center; }
        .dashboard .right .details .bottom .bottomright {
          width: 35%;
          min-height: 50vh;
          height: 100%;
          border-radius: 10px;
          background: #212223;
          padding: 20px;
          text-align: center;
          color: #fff;
          flex-direction: column; }
          .dashboard .right .details .bottom .bottomright .interests {
            margin-top: 20px;
            height: 280px;
            overflow-y: scroll;
            padding: 10px; }
            .dashboard .right .details .bottom .bottomright .interests::-webkit-scrollbar {
              width: 12px; }
            .dashboard .right .details .bottom .bottomright .interests::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              border-radius: 10px; }
            .dashboard .right .details .bottom .bottomright .interests::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
            .dashboard .right .details .bottom .bottomright .interests .interest {
              border-radius: 5px;
              background: #0061B2;
              padding: 5px;
              margin: 5px; }
    .dashboard .right .title .info {
      font-family: 'David Libre', serif;
      color: #fff;
      text-align: center; }
    .dashboard .right #form {
      display: flex;
      width: 100%;
      justify-content: center; }
      .dashboard .right #form .form {
        width: 70%; }
        .dashboard .right #form .form #button {
          text-align: center;
          color: #fff;
          padding: 10px;
          background: #1C92EA;
          border: none;
          border-radius: 5px;
          margin: 10px; }
          .dashboard .right #form .form #button:hover {
            background: #81b8e2; }
        .dashboard .right #form .form #buttonwithoutbranch {
          text-align: center;
          color: #fff;
          padding: 10px;
          background: #1C92EA;
          border: none;
          border-radius: 5px;
          margin: 10px;
          height: max-content;
          width: max-content; }
          .dashboard .right #form .form #buttonwithoutbranch:hover {
            background: #81b8e2; }
        .dashboard .right #form .form .gender {
          display: flex;
          width: 100%;
          justify-content: flex-start; }
          .dashboard .right #form .form .gender .card {
            width: 100px;
            height: 100px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            background: #31A6EC;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
            .dashboard .right #form .form .gender .card:hover {
              background: #0396eb;
              cursor: pointer; }
            .dashboard .right #form .form .gender .card i {
              font-size: 2rem; }
            .dashboard .right #form .form .gender .card span {
              font-size: 0.8rem; }
        .dashboard .right #form .form .formrow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px; }
          .dashboard .right #form .form .formrow .form-grouper {
            border: solid #82B6EB 2px;
            width: 48%;
            padding: 5px;
            height: max-content;
            position: relative;
            border-radius: 5px; }
          .dashboard .right #form .form .formrow .select-grouper {
            width: 100% !important; }
          .dashboard .right #form .form .formrow .form-grouper > label {
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            top: -11px;
            left: 20px;
            background-color: #171819;
            font-size: smaller;
            color: #0f7ae4; }
          .dashboard .right #form .form .formrow .form-grouper > input {
            border: none; }
          .dashboard .right #form .form .formrow select {
            background: none;
            padding: 5px;
            border: none;
            width: 100%; }
          .dashboard .right #form .form .formrow input {
            background: none;
            width: 100%;
            font-size: smaller;
            color: #fff;
            border: none;
            border-bottom: solid #111 thin;
            padding: 5px;
            height: 100%; }
            .dashboard .right #form .form .formrow input:focus {
              color: #fff;
              border: none;
              outline: none !important; }
            .dashboard .right #form .form .formrow input::placeholder {
              color: #fff; }
    .dashboard .right .partnerprofile {
      display: none;
      width: 100%;
      min-height: 90vh;
      height: 100%; }
    .dashboard .right .userchat {
      display: none;
      color: #fff;
      justify-content: center;
      align-items: center;
      flex-direction: column; }

.openbutton {
  display: none; }

@media only screen and (max-width: 770px) {
  .dashboard .openbutton {
    display: flex;
    align-self: flex-start;
    position: fixed;
    justify-self: flex-start;
    left: 0;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 5px; }
    .dashboard .openbutton i {
      font-size: 1.5rem; }
    .dashboard .openbutton:hover {
      cursor: pointer; }
  .dashboard .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 10000; }
    .dashboard .left .closebtn {
      align-self: flex-end;
      color: #fff;
      padding: 5px;
      border-radius: 5px; }
      .dashboard .left .closebtn:hover {
        cursor: pointer; }
      .dashboard .left .closebtn i {
        font-size: larger; }
  .dashboard .right {
    width: 100%; }
    .dashboard .right #form .form .formrow {
      flex-direction: column;
      padding: 0; }
      .dashboard .right #form .form .formrow .form-grouper {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px; }
    .dashboard .right .infopanel .top {
      height: max-content; }
      .dashboard .right .infopanel .top .welcome {
        flex-direction: column-reverse;
        height: max-content;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .dashboard .right .infopanel .top .welcome .text {
          margin-left: 0; }
        .dashboard .right .infopanel .top .welcome .image {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0; }
          .dashboard .right .infopanel .top .welcome .image img {
            width: 100%;
            height: auto;
            margin-bottom: 5px; }
    .dashboard .right .infopanel .bottom {
      flex-direction: column; }
      .dashboard .right .infopanel .bottom .councilbottomleft {
        width: 100%;
        flex-direction: column; }
      .dashboard .right .infopanel .bottom .bottomleft {
        width: 100%; }
        .dashboard .right .infopanel .bottom .bottomleft .detailer {
          flex-direction: column; }
          .dashboard .right .infopanel .bottom .bottomleft .detailer span {
            height: max-content;
            flex-wrap: wrap;
            max-width: 220px;
            overflow-x: scroll; }
            .dashboard .right .infopanel .bottom .bottomleft .detailer span::-webkit-scrollbar {
              width: 12px; }
            .dashboard .right .infopanel .bottom .bottomleft .detailer span::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              border-radius: 10px; }
            .dashboard .right .infopanel .bottom .bottomleft .detailer span::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
      .dashboard .right .infopanel .bottom .bottomright {
        width: 100%;
        margin: 5px; } }

/* Button designs */
.target {
  color: #111 !important;
  background: rgba(91, 192, 222, 0.7);
  border-color: rgba(91, 192, 222, 0.7);
  border-radius: 20px !important;
  margin-top: 5px; }

.interests-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

input[type=radio] {
  display: none; }

/* style */
.a-container {
  width: 100%;
  margin: 20px 0 auto; }

.a-container label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  color: #aaa;
  background-color: rgba(0, 0, 0, 0.807);
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.a-container label:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid #aaa;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  right: 10px;
  top: 16px; }

.a-container input:checked + label,
.a-container label:hover {
  background-color: #ddd;
  color: #222; }

.a-container input:checked + label:after {
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #222;
  border-left: 6px solid transparent;
  top: 6px; }

.a-content {
  padding: 0 20px 20px;
  display: none;
  transition: 2s linear all; }

.a-container input:checked ~ .a-content {
  transition: none;
  display: block;
  background: transparent; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.slider {
  width: 100%; }

.contactreqbutton {
  padding: 10px;
  background: #0f7ae4;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin: 10px; }
  .contactreqbutton:hover {
    background: #0a4785; }

select {
  color: #fff; }
  select option {
    background: transparent;
    color: #111; }

.errordiv {
  padding: 20px;
  background-color: #d66e6e;
  color: #fff;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1000000;
  display: none;
  margin: 10px; }

.successdiv {
  padding: 20px;
  background-color: rgba(122, 214, 110, 0.753);
  color: #fff;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1000000;
  display: none;
  margin: 10px; }

.errordiv p {
  font-size: 1em;
  font-weight: bold; }

.success p {
  font-size: 1em;
  font-weight: bold; }

.alertwrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }

.inputinterests {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.807);
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-height: 300px;
  flex-direction: column;
  overflow-y: scroll; }
  .inputinterests .interestsbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .inputinterests::-webkit-scrollbar {
    width: 12px; }
  .inputinterests::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .inputinterests::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  .inputinterests .interestelement {
    border-radius: 5px;
    background: #0061B2;
    padding: 5px;
    margin: 5px;
    color: #fff; }
    .inputinterests .interestelement:hover {
      cursor: pointer;
      background: #0a4785; }

.righttable {
  width: 100%;
  min-height: inherit;
  height: 100%;
  background: #171819;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .righttable table {
    width: 100%;
    color: #fff !important; }
    .righttable table tr {
      background: #141e30 !important; }
      .righttable table tr th {
        background: #141e30 !important; }

.guidelines {
  border-radius: 5px;
  background: #0061B2;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: max-content;
  align-self: center; }
  .guidelines:hover {
    cursor: pointer;
    background: #002849; }
