@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
.profile {
  min-height: 100vh;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a1d20+0,17191c+100 */
  background: #1a1d20;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1a1d20 0%, #17191c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1a1d20 0%, #17191c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1a1d20 0%, #17191c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1d20', endColorstr='#17191c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile .eventcontainer {
    width: 80%;
    min-height: 30vh;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .profile .eventcontainer .right {
      width: 50%;
      padding: 5%;
      padding-bottom: 0;
      padding-top: 0;
      color: #fff;
      height: inherit; }
      .profile .eventcontainer .right .middleform {
        margin-top: 50px; }
        .profile .eventcontainer .right .middleform form input {
          background: transparent;
          border: solid 0.2px #d1d1d1;
          color: #fff; }
          .profile .eventcontainer .right .middleform form input::focus {
            color: #fff; }
        .profile .eventcontainer .right .middleform form select {
          background: transparent;
          border: solid 0.2px #d1d1d1;
          color: #fff; }
          .profile .eventcontainer .right .middleform form select::focus {
            color: #fff; }
          .profile .eventcontainer .right .middleform form select option {
            background: #17191c; }
    .profile .eventcontainer .left {
      height: inherit;
      flex-grow: 1;
      max-width: 50%;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      font-family: 'Lemonada', cursive; }
      .profile .eventcontainer .left .top {
        width: 100%;
        padding: 20px; }
        .profile .eventcontainer .left .top .topcontainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 5vh; }
          .profile .eventcontainer .left .top .topcontainer .clubname {
            width: max-content;
            max-width: 50%;
            height: fit-content;
            padding: 10px;
            background: #1c1e21b4;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            color: #fff;
            font-family: 'Roboto', sans-serif; }
            .profile .eventcontainer .left .top .topcontainer .clubname p {
              font-size: 1rem;
              margin: 0; }
        .profile .eventcontainer .left .top .price {
          width: max-content;
          height: fit-content;
          padding: 10px;
          background: #1c1e21b4;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          color: #fff;
          font-family: 'Roboto', sans-serif; }
          .profile .eventcontainer .left .top .price p {
            font-size: 1rem;
            margin: 0; }
      .profile .eventcontainer .left .title {
        color: #fff;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-size: smaller; }
        .profile .eventcontainer .left .title p {
          overflow: hidden; }
        .profile .eventcontainer .left .title .description p {
          font-size: 0.8rem; }
        .profile .eventcontainer .left .title .tags {
          overflow: hidden; }
          .profile .eventcontainer .left .title .tags span {
            font-size: 0.8rem; }
        .profile .eventcontainer .left .title h1 {
          font-size: 2.5rem;
          overflow: hidden; }
      .profile .eventcontainer .left .button {
        width: 100%;
        padding: 15px;
        border-bottom-left-radius: 10px;
        border-bottom: solid 0.2px #fff;
        background: #1C1E21;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-self: flex-end; }
        .profile .eventcontainer .left .button:hover {
          background: #6e7580;
          cursor: pointer; }
      .profile .eventcontainer .left .icon {
        margin-right: 10px; }
      .profile .eventcontainer .left .bottom {
        margin-top: 10%;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px; }
        .profile .eventcontainer .left .bottom #externala {
          text-decoration: none; }
          .profile .eventcontainer .left .bottom #externala:hover {
            text-decoration: none; }
        .profile .eventcontainer .left .bottom .externalreg {
          text-decoration: none; }
          .profile .eventcontainer .left .bottom .externalreg:hover {
            background: #111111;
            cursor: pointer;
            text-decoration: none; }
        .profile .eventcontainer .left .bottom .contact {
          height: max-content;
          width: max-content;
          background: #1c1e21b4;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #fff;
          padding: 10px;
          font-family: 'Roboto', sans-serif; }
          .profile .eventcontainer .left .bottom .contact p {
            font-size: 1.2rem; }
        .profile .eventcontainer .left .bottom .dates {
          height: max-content;
          width: max-content;
          background: #1c1e21b4;
          border-radius: 10px;
          display: flex;
          padding: 10px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 2rem; }
          .profile .eventcontainer .left .bottom .dates p {
            font-size: 1.2rem; }

@media only screen and (max-width: 600px) {
  .profile {
    padding: 5px; }
    .profile .eventcontainer {
      width: 100%;
      flex-direction: column; }
      .profile .eventcontainer .left {
        width: 100%;
        max-width: 100%; }
        .profile .eventcontainer .left .bottom .contact {
          width: 40%;
          text-align: center; }
        .profile .eventcontainer .left .bottom .dates {
          width: 40%; }
      .profile .eventcontainer .right {
        width: 90%; } }
