.budselectorcard {
  background: #fff;
  padding: 10px;
  height: max-content;
  width: max-content;
  border-radius: 10px;
  color: #111;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .budselectorcard:hover {
    background-color: #c1c7ce;
    cursor: pointer; }

.messenger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.messengerbud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.messengerwindow {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #212223;
  min-height: 70vh;
  height: 70%;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: scroll; }
  .messengerwindow::-webkit-scrollbar {
    width: 12px; }
  .messengerwindow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .messengerwindow::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  .messengerwindow .message {
    max-width: 70%;
    max-height: 600px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background: #82B6EB;
    margin: 10px;
    display: flex;
    flex-direction: column; }
    .messengerwindow .message .name {
      font-weight: bold; }
    .messengerwindow .message .date {
      align-self: flex-end;
      justify-self: flex-end;
      width: max-content;
      height: max-content;
      display: flex;
      flex-wrap: wrap; }
      .messengerwindow .message .date span {
        font-size: 0.6em; }
  .messengerwindow .recieved {
    max-width: 70%;
    max-height: 600px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background: #69697a;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-end; }
    .messengerwindow .recieved .name {
      font-weight: bold; }
    .messengerwindow .recieved .date {
      align-self: flex-end;
      justify-self: flex-end;
      width: max-content;
      height: max-content; }
      .messengerwindow .recieved .date span {
        font-size: 0.6em; }
  .messengerwindow .replymessage {
    max-width: 60%;
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    background: #939394;
    margin: 10px;
    align-self: flex-end; }

.messagebox {
  width: 100%;
  padding: 20px;
  border-radius: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .messagebox .messageboxinput {
    background: rgba(156, 156, 156, 0.7);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #fff; }
    .messagebox .messageboxinput:focus {
      color: #fff; }
  .messagebox #sendmessage {
    height: 40px;
    width: auto;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #c1c7ce7e; }
    .messagebox #sendmessage:hover {
      background-color: #c1c7ce;
      cursor: pointer;
      color: #111; }

@media only screen and (max-width: 770px) {
  .messengerwindow .message .date {
    width: 100%; }
    .messengerwindow .message .date span {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      font-size: 0.5rem; } }
