.participant {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  flex-direction: column; }
  .participant .information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .participant label {
    color: #fff; }
  .participant #participantlist_info {
    color: #fff; }
  .participant table {
    width: 100% !important;
    color: #fff !important; }
    .participant table tr {
      background: #141e30 !important; }
      .participant table tr th {
        background: #141e30 !important; }
