{{!-- {{#if message}}
    
{{/if}}
<br>
{{error.stack}} --}}

<link rel="stylesheet" href="/../stylesheets/error.css">
<script src="/../js/error.js"></script>
<section class="error-section">
    <div class="star star1"></div>
    <div class="star star2"></div>
    <div class="star star3"></div>
    <div class="star star4"></div>
    <div class="star star5"></div>
    <div class="star star6"></div>
    <div class="star star7"></div>

    <div class="error">
    <div class="error__title">{{error.statusCode}}</div>
    <div class="error__subtitle">{{message}}</div>
    <div class="error__description">Hmmm...</div>
    <button onclick="window.location.href = '/admin/login';" class="error__button error__button--active">LOGIN</button>
    <button onclick="window.location.href = '/';" class="error__button">HOME</button>
    </div>

    <div class="astronaut">
    <div class="astronaut__backpack"></div>
    <div class="astronaut__body"></div>
    <div class="astronaut__body__chest"></div>
    <div class="astronaut__arm-left1"></div>
    <div class="astronaut__arm-left2"></div>
    <div class="astronaut__arm-right1"></div>
    <div class="astronaut__arm-right2"></div>
    <div class="astronaut__arm-thumb-left"></div>
    <div class="astronaut__arm-thumb-right"></div>
    <div class="astronaut__leg-left"></div>
    <div class="astronaut__leg-right"></div>
    <div class="astronaut__foot-left"></div>
    <div class="astronaut__foot-right"></div>
    <div class="astronaut__wrist-left"></div>
    <div class="astronaut__wrist-right"></div>
    
    <div class="astronaut__cord">
        <canvas id="cord" height="350px" width="500px"></canvas>
    </div>
    
    <div class="astronaut__head">
        <canvas id="visor" width="60px" height="60px"></canvas>
        <div class="astronaut__head-visor-flare1"></div>
        <div class="astronaut__head-visor-flare2"></div>
    </div>
    </div>
</section>