<center><h1>Please wait. Do not hit refresh or back.</h1></center>
<form action="{{ url }}" method="post" name="f1">
{{#each params}}
<input type="hidden" name="{{@key}}" value="{{this}}">
{{/each}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<script type="text/javascript">
document.f1.submit();
</script>