.club-details{
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: -100;
}
.clubs_section{
  top:0;
  left:0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #111;
  z-index: -100;
}

.absolute-center-circle{
  width:200px;
  height:200px;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%);
  background: rgb(15, 15, 15);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  border: 2px solid white;
}

.absolute-center-circle h3{
  font-size:18px;
  font-family: 'Fela';
}

.technical-div{
  width:50%;
  height:50vh;
  background: linear-gradient(0deg,rgb(0, 0, 0),rgba(255, 255, 255, 0.2)),url('../images/clubs/tech.jpg'), no-repeat;
  background-size: cover;
  transition: 2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid white;
  border-bottom: 0.5px solid white;
  font-family: 'Fela';
}
.technical-div:hover{
  width:50%;
  height:50vh;
  background: linear-gradient(-30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/tech.jpg'), no-repeat;
  background: -webkit-linear-gradient(-30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/tech.jpg'), no-repeat;
  background: -moz-linear-gradient(-30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/tech.jpg'), no-repeat;
  background: -o-linear-gradient(-30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/tech.jpg'), no-repeat;
  background-size: cover;
  transition: 2s ease-in;
}
.cultural-div{
  width:50%;
  height:50vh;
  background: linear-gradient(0deg,rgb(0, 0, 0),rgba(255, 255, 255, 0.2)),url('../images/clubs/cult.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid white;
  border-bottom: 0.5px solid white;
  font-family: 'Fela';
}
.cultural-div:hover{
  width:50%;
  height:50vh;
  background: linear-gradient(30deg,#607d8bec 0%,#262626ec 50%, #683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/cult.jpg') no-repeat;
  background: -webkit-linear-gradient(30deg,#607d8bec 0%,#262626ec 50%, #683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/cult.jpg') no-repeat;
  background: -moz-linear-gradient(30deg,#607d8bec 0%,#262626ec 50%, #683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/cult.jpg') no-repeat;
  background: -o-linear-gradient(30deg,#607d8bec 0%,#262626ec 50%, #683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/cult.jpg') no-repeat;
  background-size: cover;
  transition: 2s ease-in;
}
.sports-div{
  width:50%;
  height:50vh;
  background: linear-gradient(0deg,rgba(255, 255, 255, 0.2),rgb(0, 0, 0)),url('../images/clubs/sports.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid white;
  border-top: 0.5px solid white;
  font-family: 'Fela';
}
.sports-div:hover{
  width:50%;
  height:50vh;
  background: linear-gradient(30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/sports.jpg') no-repeat;
  background: -webkit-linear-gradient(30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/sports.jpg') no-repeat;
  background: -moz-linear-gradient(30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/sports.jpg') no-repeat;
  background: -o-linear-gradient(30deg,#607d8bec 0%,#683ab7ec 50%, #262626ec 50%, #1ec4e9ec 100%),url('../images/clubs/sports.jpg') no-repeat;
  background-size: cover;
  transition: 2s ease-in;
}
.others-div{
  width:50%;
  height:50vh;
  background: linear-gradient(0deg,rgba(255, 255, 255, 0.2),rgb(0, 0, 0)),url('../images/clubs/others.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid white;
  border-top: 0.5px solid white;
  transition: .5s ease;
  font-family: 'Fela';
}
.others-div:hover{
  width:50%;
  height:50vh;
  background: linear-gradient(-30deg,#607d8bec 0%,#262626ec 50%,#683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/others.png') no-repeat;
  background: -webkit-linear-gradient(-30deg,#607d8bec 0%,#262626ec 50%,#683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/others.png') no-repeat;
  background: -moz-linear-gradient(-30deg,#607d8bec 0%,#262626ec 50%,#683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/others.png') no-repeat;
  background: -o-linear-gradient(-30deg,#607d8bec 0%,#262626ec 50%,#683ab7ec 50%, #1ec4e9ec 100%),url('../images/clubs/others.png') no-repeat;
  background-size: cover;
}

.club-title{
  opacity: 0;
  transition: 1s ease;
}

/*VISIT BUTTON GLASS DESIGN */

.btn-visit{
  margin-top:10px;
  opacity: 0;
  transition: opacity 2s ease;
  position: relative;
  padding:25px 30px;
  color:#fff;
  font-size: 2em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background:rgba(255,255,255,0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border:none;
  height:auto;
}

.btn-visit:before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height: 100%;
  background: rgba(255,255,255,.1);
}

.btn-visit:after{
  content:'';
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn-visit:hover:after{
  left:100%;
}

.btn-visit:hover{
  background: transparent;
  border: none;
}

.btn-visit span{
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.btn-visit span:nth-child(1){
  top:0;
  left:0;
  width: 0;
  height: 1px;
  background: #fff;
}

.btn-visit:hover span:nth-child(1){
  width:100%;
  transform:translateX(100%);
}

.btn-visit span:nth-child(3){
  bottom:0;
  right:0;
  width: 0;
  height: 1px;
  background: #fff;
}

.btn-visit:hover span:nth-child(3){
  width:100%;
  transform:translateX(-100%);
}

.btn-visit span:nth-child(2){
  top:0;
  left:0;
  width: 1px;
  height: 0;
  background: #fff;
}

.btn-visit:hover span:nth-child(2){
  height:100%;
  transform:translateY(100%);
}

.btn-visit span:nth-child(4){
  bottom:0;
  right:0;
  width: 1px;
  height: 0;
  background: #fff;
}

.btn-visit:hover span:nth-child(4){
  height:100%;
  transform:translateY(-100%);
}


/* VISIT BUTTON DESIGN ENDS AND DIV DESIGN BEGINS */

.technical-div:hover > .club-title{
  opacity: 1;
}

.technical-div:hover > .btn-visit{
  opacity: 1;
}

.technical-div:hover > .click-me{
  opacity: 0;
}

.cultural-div:hover > .club-title{
  opacity: 1;
}

.cultural-div:hover > .btn-visit{
  opacity: 1;
} 

.cultural-div:hover > .click-me{
  opacity: 0;
} 
.sports-div:hover > .club-title{
  opacity: 1;
} 

.sports-div:hover > .btn-visit{
  opacity: 1;
} 

.sports-div:hover > .click-me{
  opacity: 0;
} 
  
.others-div:hover > .club-title{
  opacity: 1;
}

.others-div:hover > .btn-visit{
  opacity: 1;
}

.others-div:hover > .click-me{
  opacity: 0;
}


.btn-visit{
  background: transparent;
  font: 15px serif;
  width:20vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clubs_section .content{
    height: 100% !important;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}

.clubs_section .content .links{
    position: absolute;
    width:50%;
    height:50%;
    z-index: 0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top:20px;
}

.clubs_section .content .links ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    background: rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: flex;
}

.clubs_section .content .links ul img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    z-index: -1;
}

.ul_clubs .li_clubs{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.ul_clubs .li_clubs a{
    display: block;
    text-align: center;
    line-height: 50%;
    color:#fff;
    font-size: 24px;
    text-decoration: none !important;
    cursor:pointer;
    transition: 0.5s;
    font-family: sans-serif;
    z-index:2;
}


.links .ul_clubs .li_clubs img{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.5s;
    opacity: 0;
}

.ul_clubs .li_clubs a:hover + img
{
    z-index: 0;
    opacity:1;
}

.ul_clubs .li_clubs a:hover
{
    color:black;
}

ul li a:hover + li
{
    border:transparent;
}

.content h1{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-size: 10vh;
    color: white;
}



/* CLub Designs */

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
  }
  .timeline__content-title {
    font-weight: normal;
    font-size: 36px;
    margin: 0px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #fff;
  }
  .timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .7);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    line-height: 25px;
  }
  .timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, .07);
  }

  .click-me{
    display: none;
  }

  @media only screen and (max-width: 260px){
    .absolute-center-circle{
      top: 60%;
    }
  }
  @media only screen and (max-width: 767px) {
    .timeline:before {
      left: 40px;
    }
    .club-title{
      opacity: 1;
      font-size:18px !important;
    }
    .click-me{
      display: block;
    }
    .absolute-center-circle{
      width: 150px;
      height: 150px;
      top:65%;
      left:50%;
      transform: translate(-50%);
    }

    .absolute-center-circle h3{
      font-size: 17px;
    }
  }

  /* The following has timeline design for clubs */

  .timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
    min-height: 520px;
  }
  .timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    font-family: 'Pathway Gothic One', sans-serif;
    border-left: 2px solid rgba(255, 255, 255, .5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
  }
  .timeline-item:nth-child(even) {
    align-self: flex-end;
  }
  .timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, .5);
    padding-right: 15px;
  }
  .timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  .timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
  }
  
  .timeline-item--active .timeline__content-title {
    margin: 0px 0 20px 0;
  }
  @media only screen and (max-width: 767px) {
    .timeline-item {
      align-self: baseline !important;
      width: 100%;
      padding: 0 30px 150px 80px;
    }
    
    

    .mobtags{
      display: block !important;
    }

    .timeline-item:before {
      left: 10px !important;
      padding: 0 !important;
      top: 50px;
      text-align: center !important;
      width: 60px;
      border: none !important;
      display: none;
    }
    .timeline-item:last-child {
      padding-bottom: 40px;
    }
    .clubs-overlay {
        width:100% !important;
        height: 100% !important;
    }
    .clubs-text{
        width:90% !important;
    }
  }
  .timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  }
  .timeline-container {
    width: 100%;
    position: relative;
    padding: 30px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
  }
  .timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background: rgba(0,0,0,0.6);
    content: "";
  }
  .timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .timeline-header__title {
    color: #fff;
    font-size: 58px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
  }
  .timeline-header__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
  }
  .demo-footer {
    padding: 60px 0;
    text-align: center;
  }
  .demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
  }


  .clubs-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 90%;
  }

  .clubs-overlay {
    position: absolute; /* Sit on top of the page content */
    width: 500px;
    height: 500px; /* Full height (cover the whole page) */
    top: 50%; 
    left:0 !important;
    right:0 !important;
    bottom:0 !important;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    font: 12px sans-serif;
    border-radius:10px;
    padding:0 !important;
  }

  .display-none{
      display:none;
  }

  /* End of Timeline design */

  /* Search CSS */
  
.search-name{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border: none;
    border-bottom: white solid 0.5px;
    color:white;
    padding: 15px;
    font-size:13px;
  }

.search-name:focus{
  background: rgba(0, 0, 0, 0.7);
  color:white;
}
  
  .search-button{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border-top-right-radius: 10px;
    border: none;
    border-bottom: white solid 0.5px;
    height: 33.5px;
  }
  
  .search-name::placeholder{
    color:white;
  }
  
  .search-name:-ms-input-placeholder{
    color:white;
  }
  
  .search-name::-ms-input-placeholder{
    color:white;
  }
  
  .search-elements{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    color:white;
    width: 100% !important;
}

.pagination-container{
  display: flex !important;
  justify-content: center;
  flex-direction: row !important;
}

x

.pagination li a{
  color:black !important;
}

.pagination-container nav{
  display: block !important;
}

.btn-back-clubs{
  left:0 !important;
  float: left !important;
  background: rgba(0, 0, 0, .8);
  border-radius:0;
  width:100px;
  border: none;
  border:0.5px solid #000;
  transform: skew(0.5px);
  -moz-box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.3);
}

.clubs-text span{
  font: 3vh 'Oswald';
  text-align: center;
}

.fa-club{
  margin-top:5px;
  padding: 5px;
  font-size: 25px;
  color:white !important;
}

.fa-club:hover{
  color: rgb(62, 38, 197) !important;
}


/* Autocomplete div design */

.autocomplete-div{
  background:rgba(0, 0, 0, .4);
  color:white;
  list-style: none;
  max-height:300px;
  min-height: 0px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  font-size: 12px;
}

.autocomplete-div::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.autocomplete-div li:hover{
  background: rgb(126, 120, 156);
  color:black;
  cursor: pointer;
}

.close{
  padding:20px;
  font-size:20px;
  color:white;
}

.mobtags{
  display: none;
}
