@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: #111;
}

.footer .top{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.footer .bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    color: #fff;
    font-family: 'Lemonada', cursive;
    font-size: smaller;
    text-align: center;
}

.footer .top img{
    height: auto;
    width: 50%
}

.footer .top .sclogo{
    height: auto;
    width: 120px;
}

.footer .bottom .copyright{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: 7px;
}


@media only screen and (max-width: 600px) {
    .footer .top img{
        width: 70%;
    }

    .footer .top .sclogo{
        height: auto;
        width: 90px;
    }

    .footer .bottom .copyright{
        font-size: 0.7rem;
        line-height: 1.3em;
    }

}