@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

header{
    font-family: 'Roboto', sans-serif;
    
}

.main{
    z-index:2;
    position: fixed;
    width:100%;
}

header nav .admin{
    list-style: none;
    background:transparent;
    color:#fff;
    padding:0;
    margin:0;
    transition: 1s;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

header nav .nonadmin{
    list-style: none;
    background:transparent;
    color:#fff;
    padding:0;
    margin:0;
    transition: 1s;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav.black ul{
    background: #110423 !important;
    border-bottom: 0.2px solid #302541;
}

header nav ul li{
    display: inline-block;
    padding:20px;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #8689B9;
    font-size:17px;
}

header nav ul li form a{
    text-decoration: none;
    color: #8689B9;
    font-size:17px;
}

header nav ul li a:hover{
    text-decoration: none;
    color:#ff8;
    font-size:17px;
}

header nav ul li form a:hover{
    text-decoration: none;
    color:#ff8;
    font-size:17px;
}

.menu-icon{
    width:100%;
    background:#000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color:#fff;
    display:none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
    color:white;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block !important;
  }

/* .show{
    display:none;
    transition: 1s ease;
} */
.about_drop:before{
    content: 'About';
    font-size:20px;
}
.scroller{
    position: relative !important;
    background: #000 !important;
    width: 100%;
}
@media(max-width: 768px){

    .uldata{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: none;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: block !important;
      }

    .header_logo{
        position: fixed;
        top:0;
        margin-top:16px;

    }
    header nav ul{
        max-height: 0px;
        background: #110423 !important;
        overflow: hidden;
        flex-direction: column;
    }
    nav.black ul{
        background: #110423;
    }
    .showing{
        max-height:30em;
        height: 100%;
    }
    header nav ul li{
        box-sizing: border-box;
        display: inline-block;
        width:100%;
        padding:14px 0;
        text-align: center;
    }
    .about_drop:before{
        content: '';
    }
    .menu-icon{
        display:block;
    }
}


.uldata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification{
    height: 30px;
    width: 30px;
    background: rgba(134, 134, 134, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.notification:hover{
    background: rgba(134, 134, 134);
    cursor: pointer;
}