@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pagination-container nav .pagination{
    height: 100%;
    width: max-content;
    display: flex;
    padding: 5px;
}

.pagination-container nav .pagination li{
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    margin-right: 10px;
}

.active{
    color: rgb(248, 248, 79) !important;
    cursor: default;
}

.pagination-container nav .pagination li a{
    color: #fff;
}

.pagination-container nav .pagination li a:hover{
    text-decoration: none;
    color: #ff8;
}