body, * {
  padding: 0;
  margin: 0; 
}

  html{
    scroll-behavior: smooth;
    background-color: #111;
  }


  html::-webkit-scrollbar {
    width: 12px;
  }
  
  html::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
      border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
  }

  #loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212223;
    position: fixed;
    z-index: 500000;
    min-height: 100vh;
    height: 100%;
    width: 100%;
  }

  #loader img{
    width: 200px;
    height: 200px;
  }