<link rel="stylesheet" href="/../stylesheets/landing/landing.css">
<script src="/../js/landing.js"></script>
<script src="/../js/about.js"></script>
{{>header}}
<section class="mainlanding">
    <div class="left">
        <h1>Student Buddy Program</h1>
        <p>
            The Student Buddy Programme is an initiative of the Student Council which aims at familiarising the freshers with the college and to help them as they start a new journey. 
            Under this programme, each fresher is assigned a Buddy- a role taken up by a sophomore or junior student. The fresher, or the 'Bud', is guided and helped by the Buddy, as they advance in the first semester of college.
            Buddies help the buds familiarise with the college campus, understand the procedures followed across the college or university, and help them contact various departments or offices. Buddies also address buds' basic queries related to academics or the institution and guide them through the procedures related to different student activities at the college. 
            Being the first go-to person for the bud, the Buddy volunteers to be a good friend as well as a guide for the fresher.
        </p>
        <a href="/admin" class="startedbutton">Get Started</a>
    </div>
    <div class="right">
        <img class="landingimage" src="/../images/SVG/student.png" alt="">
    </div>
</section>
<section class="howto" id="howtoreg">
    <h2>How to Register</h2>
    <div class="howtoregister">
        <iframe src="https://drive.google.com/file/d/1XEa6w9P3L_DRu_pDFMTzF6bTg7TNSptf/preview"></iframe>
    </div>
</section>

{{!-- <section class="about" id="about">
    <h1>About Us</h1>
    <h3>MIT has a strong tradition of student bodies and clubs that attract students and become the family for students.
There are student projects, technical, cultural, and sports clubs. MIT'ians have the habit of changing ourselves and advancing with technology. We bring the event portal to unify us and help us survive this Corona with the same events and safety of our home.</h3>

    <div class="counterwrapper">
        <div class="counter col_fourth">
        <i class="fa fa-user fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="8000" data-speed="2000"></h2>
        <p class="count-text ">Students</p>
        </div>

        <div class="counter col_fourth">
        <i class="fa fa-users fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="68" data-speed="2500"></h2>
        <p class="count-text ">Clubs</p>
        </div>

        <div class="counter col_fourth">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="19" data-speed="2500"></h2>
        <p class="count-text ">Student Projects</p>
        </div>
    </div>
</section> --}}