.announcements{
    position: absolute;
    height: max-content;
    max-height: 300px;
    max-width: 90%;
    top:10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #424242;
    border-radius: 5px;
    margin: 5px;
    z-index: 2000;
    overflow-y: scroll;
    color: #fff;
    align-self: flex-start;

    .showtext{
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        &:hover{
            background: #111111;
            cursor: pointer;
        }
    }

    &::-webkit-scrollbar {
        width: 12px;
    }
     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    .toggle{
        background: #11111180;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;

        i{
            margin: 0 !important;
        }

        .counter{
            background: rgba(117, 12, 12, 0.781);
            height: 20px;
            width: 20px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        
    }

    .anntext span{
        margin: 5px;
    }

    .announcementtext{
        small{
            margin-left: 5px;
            text-align: center;
            width: 100%;
        }
        
        .announcementcard{
            display: flex;
            flex-direction: row;
            height: max-content;
            width: max-content;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 30px;
            color: #fff;
            background: #1111117e;
            margin: 5px;

            &:hover{
                background: #111111;
                cursor: pointer;
            }

            .text{
                border-right: 0.5px solid rgb(172, 172, 172);
                margin: 5px;
                padding: 2px;
            }

            .time{
                margin: 5px;
            }
        }
    }
}

.hideann{
    display: none;
}

.makerow{
    flex-direction: row;
}

.markread{
    height: max-content;
    width: max-content;
    padding: 5px;
    margin: 10px;
    background: #11111181;
    border-radius: 5px;
    text-transform: uppercase;
    &:hover{
        background: #111111;
        cursor: pointer;
    }
}


@media only screen and (max-width: 768px) {
    .announcements{
        right: 0;
        flex-direction: column;
        .toggle{
            width: 25px;
            height: 25px;
        }
        .showtext{
            .anntext{
                font-size: smaller;
            }
        }
    }
    .announcementtext{
        width: 90%;
        .announcementcard{
            width: 100% !important;
        }
    }
}