@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
.clubprofile{
    min-height: 100vh;
    height: 100%;
    background: #2C2F36;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .profile{
        width: 80%;
        min-height: 80vh;
        height: 70%;
        background: linear-gradient(0deg, rgba(39, 42, 49, 0.9), rgba(36, 39, 46, 0.8)), url(../../images/bg/night.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;

        .left{
            width: 60%;
            min-height: inherit;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .nonimage{
                width: 100%;
                min-height: inherit;
                height: 100%;
                display: flex;
                flex-direction: row;
                .navigation{
                    height: 100vh;
                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    ul{
                        list-style: none;
                        color: #fff;
                        padding: 10px;
                        li{
                            margin: 10px;
                            writing-mode: vertical-rl;
                            text-orientation: mixed;
                            font-family: 'Share Tech', sans-serif;
                            max-height: 100px;
                            &:hover{
                                color:#ff8;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .title{
                    margin-top: 10vh;
                    width: 80%;
                    height: 10vh;
                    font-family: 'Share Tech', sans-serif;
                    color: white;
                    padding: 5px;
                }
            }
            .image{
                position: absolute;
                bottom: -5%;
                height: 350px;
                width: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                left: 31%;
                transform: translateX(-30%);
                img{
                    height: auto;
                    width: 100%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.473);
                }
            }
        }

        .right{
            width: 40%;
            height: 100%;
            min-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .slidingtab{
                .none{
                    display: none;
                }
            }
            .borderdiv{
                width: 50%;
                height: 4px;
                border-radius: 10px;
                border: solid 1px #F9B93D;
                background: #F9B93D;
                margin: 10px;
            }
            .description{
                width: 100%;
                height: 400px;
                overflow: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 12px;
                }
                 
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                    border-radius: 10px;
                }
                 
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                }

                h3{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }

                h6{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }
                .desc{
                    width: 100%;
                    padding: 15px;
                    height: max-content;
                    p{
                        color: #fff;
                        font-size: 0.8rem;
                        font-family: 'Lemonada', cursive;
                    }
                }

                .tags{
                    width: 100%;
                    padding: 15px;
                    p{
                        color: #fff;
                        font-size: 0.8rem;
                        font-family: 'Lemonada', cursive;
                    }
                }
            }

            .achievements{
                width: 100%;
                height: 400px;
                overflow: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 12px;
                }
                 
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                    border-radius: 10px;
                }
                 
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                }

                h3{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }

                h6{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }
                .desc{
                    width: 100%;
                    padding: 15px;
                    height: max-content;
                    p{
                        color: #fff;
                        font-size: 0.8rem;
                        font-family: 'Lemonada', cursive;
                        white-space: pre-wrap;
                    }
                }

            }

            .contact{
                width: 100%;
                height: 400px;

                h3{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }

                h6{
                    color: #fff;
                    font-family: 'Lemonada', cursive;
                }
                .desc{
                    width: 100%;
                    padding: 15px;
                    height: max-content;
                    p{
                        color: #fff;
                        font-size: 0.8rem;
                        font-family: 'Lemonada', cursive;
                    }
                }

                .tags{
                    width: 100%;
                    padding: 15px;
                    p{
                        color: #fff;
                        font-size: 0.8rem;
                        font-family: 'Lemonada', cursive;
                    }
                }

            }
        }
    }
}

.fa-club{
    margin-top:5px;
    padding: 5px;
    font-size: 25px;
    color:white !important;
  }
  
  .fa-club:hover{
    color: rgb(62, 38, 197) !important;
  }


  @media only screen and (max-width: 770px) {

    .clubprofile{
        .profile{
            width: 100%;
            flex-direction: column;
            .left{
                flex-direction: column;
                width: 100%;
                height: fit-content !important;
                .nonimage{
                    width: 100%;
                    min-height: unset;
                    height: max-content;
                    display: flex;
                    flex-direction: column-reverse;
                    .navigation{
                        flex-direction: row;
                        min-height: unset;
                        height: max-content;
                        ul{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            li{
                                margin: 10px;
                                writing-mode: horizontal-tb;
                                font-family: 'Share Tech', sans-serif;
                            }
                        }
                    }

                }
                .image{
                    position: relative;
                    height: auto;
                    width: 70%;
                    left: 0;
                    transform: translateX(0);
                    padding: 0;
                    img{
                        margin: 0;
                        bottom: 0;
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .right{
                width: 100%;
                padding: 15px;
                justify-content: flex-start;
                min-height: max-content;
            }
    
        }
    }

  }