@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

.createevent{
  min-height: 100vh;
  height: 100%;
  background: rgb(24, 24, 24);
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Raleway', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  color: white;
}


// Remy function
@function remy($value) {
  @return ($value / 16px) * 1rem;
}
a,
[type="submit"] {transition: all .25s ease-in;}
.signup__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: remy(800px);
  height: 100%;
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25);
}
.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.76);
}
.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2;  
}
.thumbnail__logo {align-self: flex-start;}
.logo__shape {fill: #fff;}
.logo__text {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom;
}
.thumbnail__content {align-self: center;}
h1,
h2 {
  font-weight: 300;
  color: rgba(255,255,255,1);
}
.heading--primary {font-size: 1.999rem;}
.heading--secondary {font-size: 1.414rem;}
.thumbnail__links {
  align-self: flex-end;
  width: 100%;
}
.thumbnail__links a {
  font-size: 1rem;
  color: #fff;
  &:focus,
  &:hover {color: rgba(255,255,255,.5);}
}
.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}
label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {border-color: #111;}
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}
.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  &:focus,
  &:hover {background: lighten(#111, 13%);}
}
.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
  &:focus,
  &:hover {color: darken(#999, 13%);}
}



// Switch

label {
  pointer-events: none;
  .input {
    display: none;
    &:checked + .toggle-wrapper {
      box-shadow: 0 8px 14px 0 rgba(darken(#3957ee, 12%), 0.12);
    }
    &:checked + .toggle-wrapper > .selector {
      left: calc(100% - 35px);
      background-color: #3957ee;
    }
    &:checked ~ .notification > .selected:before {
      content: "Yes";
    }
  }
  .toggle-wrapper {
    position: relative;
    width: 90px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 999px;
    margin: auto;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 8px 14px 0 rgba(darken(#ee5f39, 12%), 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    .selector {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      background-color: #ee5f39;
      transition: left 0.25s ease;
      border-radius: 50%;
      
    }
  }
}



@media only screen and (max-width: 768px) {
  .signup__container{
    flex-direction: column;
    width: 100%;

    .container__child{
      width: 100%;
    }
  }
}