@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
.dashboard{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: #171819;
    .left{
      width: 25%;
      padding:2%;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-evenly;
      background: #212223;
      align-self: stretch;

      .buddatacard{
        width: 100%;
        height: max-content;
        padding: 7%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0061B2;
        border-radius: 10px;
      }

      .dashnav{
        width: 100%;
        min-height: 60vh;
        height: 100%;
        background: transparent;
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        .activenav{
          background: #0061B2;
          border-radius: 5px;
        }

        .divnaver{
          width: 100%;
          padding: 10px;
          height: max-content;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: larger;
          margin: 5px;

          &:hover{
            border-radius: 5px;
            background: #0061B2;
            cursor: pointer;
          }

          i{
            margin-right: 15px;
          }
        }

        .logout{
          flex-grow: 1 !important;
          border-radius: 10px;
        }
      }
    }


    .right{
      width: 75%;
      min-height: inherit;
      height: 100%;
      background: #171819;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .details{
        min-height: 90vh;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .top{
          width: 100%;
          height: 30vh;
          .welcome{
            height: 30vh;
            border-radius: 10px;
            background: #212223;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            color: #fff;
            .text{
              margin-left: 10%;
            }
            .image{
              height: 100%;
              width: auto;
              margin-right: 10%;
              img{
                height: 100%;
                width: auto;
              }
            }
          }
        }

        .bottom{
          flex-grow: 1;
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .councilbottomleft{
            width: 60%;
            min-height: 50vh;
            height: 100%;
            border-radius: 10px;
            background: #212223;
            padding: 20px;
            text-align: center;
            color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            .councilselectdiv{
              background-color: #104344be;
              height: 200px;
              width: 45%;
              margin: 5px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover{
                background-color: #06999Fbe;
                cursor: pointer;
              }
            }

          }
          .bottomleft{
            width: 60%;
            min-height: 50vh;
            height: 100%;
            border-radius: 10px;
            background: #212223;
            padding: 20px;
            text-align: center;
            color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .councilselectdiv{
              background-color: #104344be;
              height: 200px;
              width: 45%;
              margin: 5px;
            }

            .detailer{
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding: 10px;
              margin: 5px;
            }

            span{
              color: #65676F;
              align-self: center;
            }
          }

          .bottomright{
            width: 35%;
            min-height: 50vh;
            height: 100%;
            border-radius: 10px;
            background: #212223;
            padding: 20px;
            text-align: center;
            color: #fff;
            flex-direction: column;

            .interests{
              margin-top: 20px;
              height: 280px;
              overflow-y: scroll;
              padding: 10px;

              &::-webkit-scrollbar {
                width: 12px;
              }
              
              &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                  border-radius: 10px;
              }
              
              &::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
              }

              .interest{
                border-radius: 5px;
                background: #0061B2;
                padding: 5px;
                margin: 5px;
              }
            }
          }
        }
      }

      .title{
        .info{
          font-family: 'David Libre', serif;
          color: #fff;
          text-align: center;
        }
      }
      

      #form{
        display: flex;
        width: 100%;
        justify-content: center;
        .form{
          width: 70%;

          #button{
            text-align: center;
            color: #fff;
            padding: 10px;
            background: #1C92EA;
            border: none;
            border-radius: 5px;
            margin: 10px;

            &:hover{
              background: #81b8e2;
            }
          }

          #buttonwithoutbranch{
            text-align: center;
            color: #fff;
            padding: 10px;
            background: #1C92EA;
            border: none;
            border-radius: 5px;
            margin: 10px;
            height: max-content;
            width: max-content;

            &:hover{
              background: #81b8e2;
            }
          }

          .gender{
            display: flex;
            width: 100%;
            justify-content: flex-start;

            .card{
              width: 100px;
              height: 100px;
              margin: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              color: #fff;
              background: #31A6EC;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

              &:hover{
                background: #0396eb;
                cursor: pointer;
              }


              i{
                font-size: 2rem;
              }           
              span{
                font-size: 0.8rem;
              }   
            }
          }
          .formrow{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .form-grouper{
              border:solid #82B6EB 2px;
              width: 48%;
              padding: 5px;
              height: max-content;
              position: relative;
              border-radius: 5px;
            }

            .select-grouper{
              width: 100% !important;
            }

            .form-grouper>label{
              padding-left: 5px;
              padding-right: 5px;
              position: absolute;;
              top:-11px;
              left:20px;
              background-color:#171819;
              font-size: smaller;
              color: #0f7ae4;
            }
            
            .form-grouper>input{
              border:none;
            }
            
            select{
              background: none;
              padding: 5px;
              border: none;
              width: 100%;
            }

            input{
              background: none;
              width: 100%;
              font-size: smaller;
              color: #fff;
              border: none;
              border-bottom: solid #111 thin;
              padding: 5px;
              height: 100%;

              &:focus{
                color: #fff;
                border: none;
                outline: none !important;
              }

              &::placeholder{
                color: #fff;
              }
            }
          }
        }

      }


      .partnerprofile{
        display: none;
        width: 100%;
        min-height: 90vh;
        height: 100%;
      }

      .userchat{
        display: none;
        color: #fff;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

    }
}

.openbutton{
  display: none;
}


@media only screen and (max-width: 770px){
  
  .dashboard{
    .openbutton{
      display: flex;
      align-self: flex-start;
      position: fixed;
      justify-self: flex-start;
      left: 0;
      color: #fff;
      padding: 10px;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      margin: 5px;

      i{
        font-size: 1.5rem;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .left{
      position: fixed;
      top: 0;
      left: 0;
      width: 0px;
      margin: 0;
      padding: 0;
      transition: 0.5s;
      overflow-x: hidden;
      z-index: 10000;
      .closebtn{
        align-self: flex-end;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        &:hover{
          cursor: pointer;
        }
        i{
          font-size: larger;
        }
      }
    }
    .right{
      width: 100%;

      #form{
        .form{
          .formrow{
            flex-direction: column;
            padding: 0;
            .form-grouper{
              width: 100%;
              margin-top: 20px;
              margin-bottom: 10px;
            }
          }
        }
      }
      .infopanel{
        .top {
            height: max-content;
            .welcome{
            flex-direction: column-reverse;
            height: max-content;
            justify-content: center;
            align-items: center;
            text-align: center;

            .text{
              margin-left: 0;
            }
            .image{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0;
              img{
                width: 100%;
                height: auto;
                
                margin-bottom: 5px;
              }
            }
          }
        }
        .bottom{
          flex-direction: column;

          .councilbottomleft{
            width: 100%;
            flex-direction: column;
          }

          .bottomleft{
            width: 100%;

            .detailer{
              flex-direction: column;

              span{
                height: max-content;
                flex-wrap: wrap;
                max-width: 220px;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                  width: 12px;
                }
                
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                }
              }
            }
            
          }

          .bottomright{
            width: 100%;
            margin: 5px;
          }
        }
      }
    }
  }
}



/* Button designs */

.target{
  color:#111 !important;
  background:rgba(91,192,222, 0.7);
  border-color: rgba(91,192,222, 0.7);
  border-radius: 20px !important;
  margin-top: 5px;
}

.interests-div{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input[type=radio] {
display: none;
}

/* style */
.a-container {
width: 100%;
margin: 20px 0 auto;
}

.a-container label {
display: block;
position: relative;
cursor: pointer;
font-size: 18px;
font-weight: bold;
padding: 10px 20px;
color: #aaa;
background-color: rgba(0, 0, 0, 0.807);
border-bottom: 1px solid #ddd;
border-radius: 10px;
margin-bottom:10px;

-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

.a-container label:after {
content: "";
width: 0;
height: 0;
border-top: 8px solid #aaa;
border-right: 6px solid transparent;
border-bottom: 8px solid transparent;
border-left: 6px solid transparent;
position: absolute;
right: 10px;
top: 16px;
}

.a-container input:checked + label,
.a-container label:hover {
background-color: #ddd;
color: #222;
}

.a-container input:checked + label:after {
border-top: 8px solid transparent;
border-right: 6px solid transparent;
border-bottom: 8px solid #222;
border-left: 6px solid transparent;
top: 6px;
}

.a-content {
padding: 0 20px 20px;
display: none;
transition: 2s linear all;
}

.a-container input:checked ~ .a-content {
transition: none;
display: block;
background: transparent;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

.slider{
  width:100%;
}


.contactreqbutton{
  padding: 10px;
  background: #0f7ae4;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin: 10px;

  &:hover{
    background: #0a4785;
  }
}

select{
  color: #fff;
  
  option{
    background: transparent;
    color: #111;
  }
}



.errordiv{
  padding: 20px;
  background-color: rgb(214, 110, 110);
  color: #fff;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1000000;
  display: none;
  margin: 10px;
}

.successdiv{
  padding: 20px;
  background-color: rgba(122, 214, 110, 0.753);
  color: #fff;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1000000;
  display: none;
  margin: 10px;
}

.errordiv p{
  font-size: 1em;
  font-weight: bold;
}

.success p{
  font-size: 1em;
  font-weight: bold;
}

.alertwrapper{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.inputinterests{
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.807);
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-height: 300px;
  flex-direction: column;
  overflow-y: scroll;

  .interestsbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  .interestelement{
    border-radius: 5px;
    background: #0061B2;
    padding: 5px;
    margin: 5px;
    color: #fff;

    &:hover{
      cursor: pointer;
      background: #0a4785;
    }
  }
}




.righttable{
  width: 100%;
  min-height: inherit;
  height: 100%;
  background: #171819;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  table{
    width: 100%;
    color: #fff !important;
    tr{
        background: #141e30 !important;
        th{
            background: #141e30 !important; 
        }
    }
  }
}


.guidelines{
  border-radius: 5px;
  background: #0061B2;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: max-content;
  align-self: center;

  &:hover{
    cursor: pointer;
    background: #002849;
  }
}