@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

.profile{
    min-height: 100vh;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a1d20+0,17191c+100 */
    background: #1a1d20; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1a1d20 0%, #17191c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1a1d20 0%,#17191c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1a1d20 0%,#17191c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1d20', endColorstr='#17191c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    .eventcontainer{
        width: 80%;
        min-height: 30vh;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .right{
            width: 50%;
            padding: 5%;
            padding-bottom: 0;
            padding-top: 0;
            color: #fff;
            height: inherit;
            .middleform{
                margin-top: 50px;
                form{
                    input{
                        background: transparent;
                        border: solid 0.2px rgb(209, 209, 209);
                        color: #fff;
                        &::focus{
                            color: #fff;
                        }
                    }
                    select{
                        background: transparent;
                        border: solid 0.2px rgb(209, 209, 209);
                        color: #fff;
                        &::focus{
                            color: #fff;
                        }
                        option{
                            background: #17191c;
                        }
                    }
                }
            }
        }
        .left{
            height: inherit;
            flex-grow: 1;
            max-width: 50%;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            font-family: 'Lemonada', cursive;
            
            .top{
                width: 100%;
                padding: 20px;

                .topcontainer{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 5vh;
                    .clubname{
                        width: max-content;
                        max-width: 50%;
                        height: fit-content;
                        padding: 10px;
                        background: #1c1e21b4;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                        p{
                            font-size: 1rem;
                            margin: 0;
                        }
                    }
                }

                .price{
                    width: max-content;
                    height: fit-content;
                    padding: 10px;
                    background: #1c1e21b4;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                    p{
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }

            .title{
                color: #fff;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                font-size: smaller;

                p{
                    overflow: hidden;
                }
                
                
                
                .description{
                    p{
                        font-size: 0.8rem;
                    }
                }

                .tags{
                    overflow: hidden;
                    span{
                        font-size: 0.8rem;
                        
                    } 
                }
                h1{
                    font-size: 2.5rem;
                    overflow: hidden;
                }
                
            }

            .button{
                width: 100%;
                padding: 15px;
                border-bottom-left-radius: 10px;
                border-bottom: solid 0.2px #fff;
                background: #1C1E21;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                align-self: flex-end;

                &:hover{
                    background: #6e7580;
                    cursor: pointer;
                }
            }

            .icon{
                margin-right: 10px;
            }

            .bottom{
                margin-top: 10%;
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 10px;

                #externala{
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                }

                .externalreg{
                    text-decoration: none;

                    
                    &:hover{
                        background: #111111;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }

                .contact{
                    height: max-content;
                    width: max-content;
                    background: #1c1e21b4;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    color: #fff;
                    padding: 10px;
                    font-family: 'Roboto', sans-serif;
                    p{
                        font-size: 1.2rem;
                    }
                }

                .dates{
                    height: max-content;
                    width: max-content;
                    background: #1c1e21b4;
                    border-radius: 10px;
                    display: flex;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                    font-size: 2rem;
                    p{
                        font-size: 1.2rem;
                    }
                    
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .profile{
        padding: 5px;
        .eventcontainer{
            width: 100%;
            flex-direction: column;

            .left{
                width: 100%;
                max-width: 100%;
                .bottom{
                    .contact{
                        width: 40%;
                        text-align: center;
                    }
                    .dates{
                        width: 40%;
                    }
                }
            }

            .right{
                width: 90%;
            }
        }
    }

}