@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
    background: #222428;
    background-size: cover;
    background-position: center;
    color: #000;
}
.eventssection{
    min-height: 70vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    .top{
        width: 100%;
        height: 60vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .slider{
            background: url(../../images/bg/night.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            .title{
                width: 70%;
                height: 30%;
                background: rgba(255, 255, 255, 0.7);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                h1{
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
        .search{
            position: absolute;
            bottom: 15vh;
            width: 90%;
            height: 20vh;
            background: #0B0434;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            left: 50%;
            transform: translateX(-50%);
            z-index: 20;

            .searchbar{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    width: 90%;
                    color: #fff;
                }

                select{
                    width: 90%;
                    background: transparent;
                    border: none;
                    border-bottom: 0.5px solid #fff;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3em;

                    option{
                        background: #0B0434;
                    }
                }

                input{
                    width: 90%;
                    background: transparent;
                    border: none;
                    border-bottom: 0.5px solid #fff;
                    color: white;
                    &:focus{
                        color: white;
                        outline: none;
                    }
                }
            }

            .left{
                height: 100%;
                width: 32%;
                border-right: solid 0.5px #fff;
            }
            .middle{
                height: 100%;
                width: 32%;
                border-right: solid 0.5px #fff;
            }
            .right{
                height: 100%;
                width: 32%;
                border-right: solid 0.5px #fff;
            }
            .searchbutton{
                height: 100%;
                min-height: inherit;
                flex-grow: 1;
                &:hover{
                    background-color: #042534;
                    cursor: pointer;
                    border-radius: 10px;
                }
            }
        }
    }
}

.eventlist{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    .titlesorter{
        width: 80%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        margin-top: 2%;

        .selectors{
            select{
                background: #d6d6db;
                border-radius: 5px;
                width: 170px;
                height: 40px;
                font-family: 'Roboto', sans-serif;
                padding: 5px;
                font-size: 1.3em;
            }
        }
    }
    .eventcontainer{
        width: 80%;
        min-height: 100vh;
        height: 100%;
        background: rgb(231, 226, 226);
        border-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        .eventcard{
            width: 30%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: centers;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            flex-direction: column;
            margin: 10px;

            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.563), 0 6px 20px 0 rgba(0, 0, 0, 0.501);
                cursor: pointer;
            }

            .top{
                height: 60%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 10px;

                .tag{
                    width: max-content;
                    max-width: 90%;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    background: #fff;
                    font-family: 'Roboto', sans-serif;
                }
            }

            .bottom{
                width: 100%;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .left{
                    padding: 5px;
                    width: 25%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-right: 0.5px solid #e6e6e6;

                    #month{
                        font-family: 'Roboto', sans-serif; 
                        font-size: 15px;
                        color: #d6d6db;
                    }

                    #date{
                        font-family: 'Roboto', sans-serif; 
                        font-size: 25px;
                        color: #111;
                    }
                }

                .right{
                    padding: 5px;
                    flex-grow: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;

                    .title{
                        width: 100%;
                        color: #111;
                    }

                    .desc{
                        color: #d6d6db;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 770px) {

    .eventssection{
        .top{
            .slider{

                .title{
                    width: 90%;
                    height: 40%;

                    h1{
                        font-size: 1.2rem;
                    }
                }

            }
            .search{
                width: 97%;
                height: 17vh;
                bottom: 20vh;

                .searchbar{
                    input{
                        width: 90%;
                        font-size: smaller;
                    }

                    select{
                        width: 90%;
                        font-size: smaller;
                    }
                }
                .left{
                    width: 30%;
                }
            }
        }

    }

    .eventlist{
    
        .titlesorter{
            width: 90%;
            height: 20vh;
            
            h1{
                font-size: 1.5em;
            }
            .selectors{
                select{
                    width: 150px;
                    height: 30px;
                    font-size: 0.9em;
                }
            }
        }

        .eventcontainer{
            justify-content: center;
            padding: 40px;
    
            .eventcard{
                width: 100% !important;
                margin: 5px;
            }

        }
    }

}


/* Autocomplete div design */

.autocomplete-div{
    background:rgba(0, 0, 0, 0.6);
    color:white;
    list-style: none;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    font-size: 12px;
    display: none;
    text-align: center;
    position: absolute;
    width: inherit;
    height: 200px;
    top: 75%;
  }
  
  .autocomplete-div::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
  
  .autocomplete-div li:hover{
    background: rgb(126, 120, 156);
    color:#fff;
    cursor: pointer;
  }

  //carousel

  #carousel{
  }

  #carousel .carousel-inner{
  }
  
  #carousel .carousel-item {
    height: 100%;
    width: 100%;
    min-height: 250px;
    background: no-repeat center center scroll;
    background-size: cover;
    padding: 5%;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
  }

  .carousel-controller{
      width: 5%;
      &:hover{
          background: rgba(255, 255, 255, 0.5);
      }
  }


  
@media only screen and (max-width: 770px) {

  .carousel {
      height: 100%;
  }

  #carousel .carousel-item{
    padding: 10%;
  }

  .carousel-controller{
    width: 10%;
  }

  #carousel .caption h2 {
    font-size: 1rem;
  }

  #carousel .caption p {
    font-size: 0.5rem;
  }

  .delicious-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    height: 40px;
    font-size: 13px;
  }
}