@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.mainlanding{
    min-height: 100vh;
	height: 100%;
	background: rgb(35,19,107);
	background: linear-gradient(135deg, rgba(35,19,107,1) 0%, rgba(47,97,149,1) 53%, rgba(65,227,221,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	overflow: hidden;
	
	.left{
		min-height: 100vh;
		height: 100%;
		width: 60%;
		padding: 10%;
		display: flex;
		justify-content: center;
		flex-direction: column;

		h1{
			font-family: 'Secular One', sans-serif;
			font-size: 3.5em;
			font-weight: bold;
			color: #01E1FB;
		}

		p{
			color: #fff;
			margin-top: 20px;
		}

		.startedbutton{
			color: #fff;
			padding: 10px;
			padding-left: 10%;
			padding-right: 10%;
			height: max-content;
			width: max-content;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
			background: #179AC4;
			margin-top: 20px;

			&:hover{
				text-decoration: none;
				background:  #093c4d;
			}
		}
	}

	.right{
		min-height: 100vh;
		height: 100%;
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;

		.landingimage{
			height: auto;
			width: 90%;
		}
	}

}

//about
/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.about{
	min-height: 60vh;
	height: 100%;
	font-family: Arial;
  	padding: 25px;
  	background-color: #0b0f27;
  	color: #fff;
	text-align: center;	
	font-family: 'Roboto', sans-serif;	

	h3{
		font-size: 20px;
	}
}

.col_fourth { 
	width: 25%;
	margin: 10px; 
}
/* Column Grids End */

.counterwrapper { width: 100%; margin: 30px auto; position: relative; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: row;}
.counter { background-color: #262626; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }


//Slider

$bgClr: rgba(#0b0f27, .83);
$txtClr: #fff;
$animSpd: 750 * 1ms; // Change also in JS

$numOfSlides: 4; // Add new city in the array in JS and a new image below

$bgPics: (
url('/../../images/bg/M.jpg') center center no-repeat,
url('/../../images/bg/I.jpg') center center no-repeat,	url('/../../images/bg/T.jpg') center center no-repeat,
url('/../../images/bg/T.jpg') center center no-repeat,
url('/../../images/bg/T.jpg') center center no-repeat
);

@mixin mediaMaxW($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.cont {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.slider {
	position: relative;
	height: 100%;
	transform: translate3d(0, 0, 0);
	will-change: transform;
	cursor: all-scroll;
	user-select: none;

	&.animation {
		transition: transform $animSpd ease-in-out;

		.slide__darkbg {
			transition: transform $animSpd ease-in-out;
		}
		
		.slide__text {
			transition: transform $animSpd ease-in-out;
		}
		
		.slide__letter {
			transition: transform $animSpd ease-in-out;
		}
	}
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	@for $i from 1 through $numOfSlides {
		&--#{$i} {
			left: 100% * ($i - 1);
		}
	}
	
	&__darkbg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: translate3d(0, 0, 0);
		will-change: transform;
		z-index: 10;
	}
	
	&__text-wrapper {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 15;
	}
	
	&__letter {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0);
		-webkit-text-fill-color: transparent !important;
		-webkit-background-clip: text !important;
		font: {
			size: 15vw;
			weight: 800;
		}
		color: #000;
		z-index: 2;
		will-change: transform;
		user-select: none;
	}
	
	&__text {
		font: {
			size: 3vw;
			weight: 600;
		}
		text-transform: uppercase;
		transform: translate3d(0, 0, 0);
		letter-spacing: 12px;
		color: $txtClr;
		will-change: transform;
		user-select: none;
	}
	&__text:nth-child(odd) {
		z-index: 2;
	}
	&__text:nth-child(even) {
		z-index: 1;
	}
		
	@each $item in $bgPics {
		$i: index($bgPics, $item);
		&--#{$i} {
			&__darkbg {
				left: -50% * ($i - 1);
				background: $item;
				background-size: cover;
				background-position: 0px center, 0px center;
				transform: translate3d(0, 0, 0);
				will-change: transform;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $bgClr;
				}
			}
			&__letter {
				background: $item;
				background-position: 0px center, 0px center;
				background-size: cover;
			}
		}
	}
}

.nav {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	list-style-type: none;
	z-index: 10;
	
	&__slide {
		position: relative;
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 2px solid #fff;
		margin-left: 10px;
		cursor: pointer;
		@include mediaMaxW(400px) {
			width: 22px;
			height: 22px;
		}
		&:hover:after {
			transform: translate(-50%, -50%) scale(1,1);
			opacity: 1;
		}
		
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0,0);
			width: 75%;
			height: 75%;
			border-radius: 50%;
			background-color: #fff;
			opacity: 0;
			transition: 300ms;
		}
		
		&--1 {
			margin-left: 0;
		}
	}
}

.nav-active {
	&:after {
		transform: translate(-50%, -50%) scale(1,1);
		opacity: 1;
	}
}

.side-nav {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	z-index: 20;
	cursor: pointer;
	opacity: 0;
	transition: 300ms;
	
	&:hover {
		opacity: .1;
	}
	
	&--right {
		right: 0;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(238, 215, 255) 100%);
	}
	&--left {
		left: 0;
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(238, 215, 255) 100%);
	}
}


@media only screen and (max-width: 770px) {

	.mainlanding{
		flex-direction: column-reverse !important;
		.left{
			width: 100%;
		}
		.right{
			height: max-content;
			width: 100%;
			min-height: 0;
			padding: 10px;
		}
	}

	.col_fourth { 
		width: 70%;
	}

	.mainlanding{
		flex-direction: column;
		background: rgb(35,19,107);
		background: linear-gradient(135deg, rgba(35,19,107,1) 0%, rgba(47,97,149,1) 53%, rgba(65,227,221,1) 100%);
		background-position: center;
		background-size: cover;
		.landingleft{
			display: none;
		}
		.imgslider{
			left: 0;
			transform: translateX(0);
			position: relative;
			width: 100%;
			height: 80vh;
		}


		.landingright{
			width: 100%;
			padding: 10px;
			.title{
				.titlesvg{
					width: 15rem;
				}
				margin: 0;
			}
			.description{
				padding: 10px;
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.slide{
		&__letter {
			font: {
				size: 40vw;
			}
		}

		&__text {
			font: {
				size: 10vw;
			}
		}
	}

	.ourclubs{
		.bodycards{
			flex-direction: row;
			flex-wrap: wrap;
			min-height: inherit;
			min-height: 100vh;
			padding: 0;
			.bodycard{
				width: 50%;
				height: 50%;
				border: solid 0.2px #707070;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding:5px;

				p{
					text-align: center;
					padding:5px;
				}
			}
		}
	}

	.box {
		margin: 20px;
		width: 150px;
		height: 300px;
		text-align: center;
		border-radius: 3px;
		-webkit-transition: 200ms ease-in-out;
		-o-transition: 200ms ease-in-out;
		transition: 200ms ease-in-out;
		-webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
				box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
		background: #17141d;;
	}

}


//Cards

.conatiner {
	width: 100%;
	min-height: 100vh;
	height: 100%;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.box {
	margin: 20px;
	width: 300px;
	height: 400px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
	background: #17141d;;
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
			box-shadow: 0 0 5px rgba(0,0,0,0.7);
	cursor: pointer;
}
.box h1 {
	color: #fff;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
	width: 130px;
	height:130px;
	margin: 30px auto;
	position: relative;
	border-radius: 100px;
}
.poster h4 {
	top: 16px;
	color: #fff;
	position: relative;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
}
.one {
	&:hover{
		background: linear-gradient(0deg, rgba(26, 22, 24, 0.5), rgba(17, 15, 16, 0.5)), url('../../images/categories/cult.gif');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.two {
	&:hover{
		background: linear-gradient(0deg, rgba(26, 22, 24, 0.5), rgba(17, 15, 16, 0.5)), url('../../images/categories/sports.gif');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	&:hover{
		background: linear-gradient(0deg, rgba(26, 22, 24, 0.5), rgba(17, 15, 16, 0.5)), url('../../images/categories/sp.gif');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&:hover{
		background: linear-gradient(0deg, rgba(26, 22, 24, 0.5), rgba(17, 15, 16, 0.5)), url('../../images/categories/tech.gif');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.ten {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* POSTER*/
.p1 {
	background: #2b5876;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
	background: -webkit-linear-gradient(left, #4e4376, #2b5876);
	background: -o-linear-gradient(left, #4e4376, #2b5876);
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px darkblue;
	        box-shadow: 0 0 20px darkblue;
}

.p2 {
	background: #f857a6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f857a6));
	background: -webkit-linear-gradient(left, #ff5858, #f857a6);
	background: -o-linear-gradient(left, #ff5858, #f857a6);
	background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px #fa3380;
	        box-shadow: 0 0 20px #fa3380;
}

.p3 {
	background: #4776E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#8E54E9), to(#4776E6));
	background: -webkit-linear-gradient(left, #8E54E9, #4776E6);
	background: -o-linear-gradient(left, #8E54E9, #4776E6);
	background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightblue;
	        box-shadow: 0 0 20px lightblue;
}

.p4 {
	background: #1FA2FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#A6FFCB), color-stop(#12D8FA), to(#1FA2FF));
	background: -webkit-linear-gradient(left, #A6FFCB, #12D8FA, #1FA2FF);
	background: -o-linear-gradient(left, #A6FFCB, #12D8FA, #1FA2FF);
	background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px skyblue;
	        box-shadow: 0 0 20px skyblue;
}


.p5 {
	background: #AA076B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#61045F), to(#AA076B));
	background: -webkit-linear-gradient(left, #61045F, #AA076B);
	background: -o-linear-gradient(left, #61045F, #AA076B);
	background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px purple;
	        box-shadow: 0 0 20px purple;
}

.p10 {
	background: #02AAB0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#00CDAC), to(#02AAB0));
	background: -webkit-linear-gradient(left, #00CDAC, #02AAB0);
	background: -o-linear-gradient(left, #00CDAC, #02AAB0);
	background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightgreen;
	        box-shadow: 0 0 20px lightgreen;
}



/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.howto{

	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	height: 100%;
	width: 100%;
	background-color: #110423;
	flex-direction: column;
	color: #fff;
	font-family: 'Secular One', sans-serif;
	font-size: 3.5em;

	.howtoregister{
		width: 100%;
		height: max-content;
		display: flex;
		justify-content: center;
		align-items: center;

		iframe{
			width: 50%;
			height: 50vh;
		}
		
	}

}



@media only screen and (max-width: 770px) {

.box {
	margin: 20px;
	width: 50%;
	height: 300px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
	background: #17141d;;
}

.conatiner {
	width: 100%;
	padding: 0;
	margin: 0;
	height: max-content;
}


.poster {
	width: 70px;
	height:70px;
	margin: 40px auto;
	position: relative;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.poster h4 {
	top: 0px;
	color: #fff;
	position: relative;
	font-size: 40px;
	text-align: center;
	font-weight: 400;
}

.box h1 {
	color: #fff;
	padding: 30px;
	margin-top: 30px;
	text-align: center;
	font-weight: 200;
	font-size: 20px;
}

.bodycards{
	height: max-content;
}

.ourclubs{
	height: max-content;
}

.date h4 {
	font-size: 1rem;
}

.howto{

	.howtoregister{

		iframe{
			width: 100%;
			height: 40vh;
		}
		
	}

}

}


