.participant{
    margin:0;
    padding:10px;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    flex-direction: column;

    .information{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label{
        color: #fff;
    }

    #participantlist_info{
        color: #fff;
    }

    table{
        width: 100% !important;
        color: #fff !important;
        tr{
            background: #141e30 !important;
            th{
                background: #141e30 !important; 
            }
        }
    }
  }